<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<?php
$id=$block->getCustomer()->getId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerObj = $objectManager->create('Magento\Customer\Model\Customer')->load($id);
$customerphone = $customerObj->getPhone();
$customerprofile = $customerObj->getSkProfilePic();
?>
 <div class="text parbase section">
        <div class="container">
            <div class="row">
                
                <div class="col-md-12 profile-img-area my-account-profile no-border">
                    <div class="col-md-6 p-0 pt-15">

                    </div>
                    <div class="col-md-6 p-0 cancel-auto">
                        <a href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>" class="btn btn-link" data-toggle="modal" data-target=".edit-profile">Edit Profile</a>
                    </div>
                    <div class="col-md-2 p-0">
                        <div class="text parbase section">
                            <div class="container">
                                <div>
                                    <img src="<?php echo $block->getUrl('pub/media/sk_profile_pic').$customerprofile; ?>">
									<form action="<?php echo $this->getUrl('sk_profilepic/upload'); ?>" enctype="multipart/form-data" method="POST">
										<input type="file" name="sk_profile_pic" accept="image/*">
										<button type="submit"><span><?php echo __('Upload'); ?></span></button>
									</form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 pl-30">
                        <div class="text parbase section">
                            <div class="container">
                                <div>
                                    <h3 class="pull-left mb-5"><?= $block->escapeHtml($block->getName()) ?></h3>
                                </div>
                            </div>
                        </div>
                        <div class="text parbase section">
                            <div class="container">
                                <div>

                                    <span class="member-info-box"><b>Member ID: 2341435</b></span>
                                    <br>
                                    <span class="member-info-box"><b>Email: <?= $block->escapeHtml($block->getCustomer()->getEmail()) ?></b></span>
                                    <br>
                                    <span class="member-info-box"><b>Phone: <?php echo $customerphone;?><br></b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 pl-30">
                        <div class="text parbase section">
                            <div class="container">
                                <div style="padding-top:5px">
                                    <p>
                                        <div class="edit-address">Address Type:</div><span style="font-weight: bold">Home</span></p>
                                    <div class="edit-address">Address:</div><span class="my-account-addres member-info-box"> 13th Street<br>47W 13th St<br>New York, NY</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--<div class="text parbase section">
        <div class="container">
            <div class="row">
               
                <div class="col-md-12 current-membership my-account-profile account-box no-border">
                    <div class="col-md-12 p-0">
                        <div class="text parbase section">
                            <div class="container">
                                <h3 class="m-0">Current Membership</h3>
                                <span>Let's review what you have...</span>
                                <p style="margin-top: 20px;">You're currently a member of <a href="#">ACS Package C Membership</a>
                                    <br>which is scheduled for Auto Renewal on 27th November 2019</p>
                                <a href="#" class="btn btn-link">Renew Membership</a>
                            </div>
                        </div>
                        <div class="col-md-6 p-0 pt-15">
                            <a href="#">Compare other packages</a>
                        </div>
                        <div class="col-md-6 p-0 cancel-auto">
                            <a href="#">Cancel Auto Renewal</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="text parbase section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-12 current-membership my-account-profile no-border">
                    <div class="col-md-12 p-0">
                        <div class="text parbase section">
                            <div class="container">
                                <h3>ACS Technical Division</h3>
                                <p>Technical divisions are field specific and provide members a forum for networking, collaboration and professional development. Explore what ACS has to offer in-depth by joining technical divisions that meet your particular interests.</p>
                                <a href="#" class="btn btn-link">Add an ACS Technical Division</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="text parbase section my-account-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-12 activity-history my-account-profile no-border">
                    <h3>Activity History</h3>
                    <div class="col-md-12 p-0">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>-->


