body.application #global-banner ul > li.login-link {
  float: right;
  border-right: none;
  background: url("../../../v2.0/acs-bootstrap/images/lock-image.png") no-repeat left 0px;
  padding-left: 23px;
  margin-right: 20px; }
  body.application #global-banner ul > li.login-link li {
    border-right: none; }

#global-banner-login {
  float: right;
  position: relative;
  top: 15px;
  z-index: 1; }
  #global-banner-login img {
    display: none; }

#my-menu #loginLink a {
  width: auto; }

#hd #searchsite {
  height: 42px; }

@media (min-width: 1200px) {
  #hd #joinACS {
    top: 40px; } }
@media (max-width: 980px) {
  #hd, #bd {
    padding: 0 18px; }

  #global-logo {
    left: auto; } }
@media (max-width: 767px) {
  #banner-bg {
    background-color: #FFCF00;
    height: 24px;
    position: relative;
    top: inherit;
    right: inherit; }

  #banner-bg #global-banner {
    background-position: right bottom;
    background-color: #2D4B85;
    height: 24px;
    width: 94.2%;
    position: relative;
    right: auto; }
    #banner-bg #global-banner ul {
      padding: 1px 20px 0 0; }
      #banner-bg #global-banner ul li {
        margin: 1px 0 0 0;
        padding: 0 0 0 15px;
        display: block; }
        #banner-bg #global-banner ul li a {
          height: 22px;
          padding: 0;
          width: 70px;
          float: none; }

  #global-logo {
    top: auto;
    left: auto; }

  .global-nav #support-nav {
    float: right;
    position: absolute;
    right: -9px;
    top: -3px;
    border-top: none;
    width: auto;
    padding: 0; }
    .global-nav #support-nav ul {
      padding: 0 2px 0 56px;
      margin: 0;
      float: left;
      width: auto; }
      .global-nav #support-nav ul li {
        float: left;
        display: inline;
        line-height: 1.52em;
        border-radius: 0; }
        .global-nav #support-nav ul li a {
          color: #767676;
          border-right: 1px solid #cccccc;
          font-size: 100%; }
        .global-nav #support-nav ul li a:hover {
          color: #5e5e5e;
          border-right: 1px solid #cccccc; }
      .global-nav #support-nav ul li:hover {
        background: none; }
        .global-nav #support-nav ul li:hover a {
          color: #767676; }

  #hd #joinACS {
    top: 35px;
    display: block; }

  #hd #search {
    position: absolute;
    background-color: #E3E3E3;
    padding: 2px;
    clear: none; }
    #hd #search input#searchsite {
      width: 254px;
      border-radius: 0;
      margin: 0; }
    #hd #search input[type="image"] {
      display: inline; }

  #primary-nav {
    background: none !important;
    text-shadow: none; }

  .navbar .btn-navbar {
    display: none; }

  .nav-collapse, .nav-collapse.collapse {
    overflow: visible;
    height: auto;
    clear: none; }

  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    border-radius: 0; }

  .global-nav {
    min-height: 85px;
    margin-bottom: 0; }

  .global-nav #ql-wrapper {
    padding-top: 90px; }

  .global-nav #support-nav ul li a:hover {
    text-decoration: underline; }

  .global-nav #support-nav ul li.last a:hover {
    border-right: none; }

  #main-nav ul li {
    background-color: #F1F1F1;
    border-bottom: 2px solid #F1F1F1;
    display: table-cell !important;
    float: none;
    text-align: center;
    vertical-align: middle;
    width: auto;
    line-height: 1; }
    #main-nav ul li:hover {
      background: #F1F1F1 !important;
      border-bottom: 2px solid #fdb827 !important;
      color: #333a5e !important;
      float: none;
      text-align: center !important; }
    #main-nav ul li.current {
      background-color: #36567E;
      border-bottom: 2px solid #36567E; }
  #main-nav ul li a {
    color: #5e5e5e !important;
    padding: 6px 5% !important;
    font-size: 100% !important; }
    #main-nav ul li a:hover {
      color: #333a5e !important; }

  #main-nav #home {
    display: none !important;
    width: auto !important; }

  .breadcrumb {
    display: block; }
    .breadcrumb ul {
      padding: 6px 0 8px 2px; }

  #ft .ft-tabs-wrapper {
    margin-top: 0.5em; }
  #ft #ft-tabs {
    border-top: 0;
    background-color: #fff; }

  #ft.extended {
    font-size: 95%; }
    #ft.extended ul {
      text-align: right;
      padding: 8px 10px 0 0; }
    #ft.extended p {
      text-align: right;
      font-size: 100%; }

  .application #global-logo {
    left: auto;
    z-index: 1; } }
.container {
  /* width: 1152px !important; */ }
  .container .container {
    width: auto !important; }

#global-banner .login-link a {
  display: block\9; }

.nav-steps {
  padding-top: 10px; }

h1, h2, h3 {
  margin-top: 0;
  padding-top: 10px;
  clear: both; }

hr {
  height: 1px;
  display: block;
  width: 100%;
  float: left;
  margin-top: 1em;
  border-color: #333;
  border-style: solid;
  clear: both; }

sub, sup {
  font-size: 93%; }

.app-title {
  display: none;
  float: right;
  margin: 20px 20px 0 0; }
  .app-title h2 {
    color: #666; }

/* Forms */
form {
  margin: 0; }
  form h2 {
    border-bottom: 1px solid #ddd; }

fieldset {
  margin-bottom: 20px; }
  fieldset p {
    margin-bottom: 1em; }

legend {
  margin-bottom: 20px; }

input[type="radio"],
input[type="checkbox"] {
  margin-top: 4px; }

.boxed-group {
  margin: 2em 0 0 0; }
  .boxed-group:first-child {
    margin-top: 0; }

.boxed-body {
  padding: 15px; }

.form-actions, .actions {
  text-align: right;
  margin-bottom: 0; }
  .form-actions button, .actions button {
    margin-right: 5px; }
  .form-actions p, .actions p {
    float: left; }

.actions {
  background: transparent;
  border: none;
  margin: 0 0 1em 0;
  padding: 0; }

.control-group a[rel="tooltip"] i {
  margin-top: 3px; }
.control-group .help-block {
  padding: 0;
  width: 280px; }
.control-group .controls select {
  margin-bottom: 0;
  height: 30px; }

.control-label.no-padding {
  padding-top: 0;
  line-height: 16px; }

.success {
  color: #468847; }

.error {
  color: #B94A48; }

.acs-ui-icon-16 {
  *margin-right: 0;
  _float: left; }

.create-account-gift .app-title {
  display: block; }

/*****************************/
/* Login Page */
/*****************************/
.signup,
.key-features,
.login-form {
  margin-top: 1.5em;
  margin-bottom: 2.5em; }

.signup,
.key-features {
  position: relative;
  float: left;
  width: 50%;
  margin-left: 2em; }

.signup {
  background: url("../../../v2.0/cq5/images/login-signup-bg.jpg") no-repeat bottom right;
  border-bottom: 1px solid #ddd;
  min-height: 340px;
  *min-height: 200px; }
  .signup .btn {
    margin: 2em 0; }

.login-form {
  padding: 2em 2em 1em;
  width: 30%;
  position: relative;
  float: right;
  width: 35%;
  margin-right: 2em;
  background: #F6F6F6;
  border: 1px solid #ddd; }
  .login-form form {
    padding: 2em 2em 1em; }
  .login-form h2 {
    border-bottom: 1px solid #ddd;
    padding-top: 10px; }
    .login-form h2 img {
      position: absolute;
      top: 0;
      right: 0;
      width: 128px;
      height: 41px; }
  .login-form fieldset {
    width: 100%;
    margin-bottom: 0.5em; }
  .login-form .input-user-name, .login-form .input-password {
    width: 97%; }
  .login-form .action {
    margin-bottom: 2em; }

.btn-blue,
.btn-blue:hover {
  background: #286cb6;
  color: #fff !important; }

/*****************************/
/* Create Account Page
/*****************************/
.controls .acs-ui-icon-32-person-yellow {
  margin-bottom: 10px; }

.member-name {
  position: relative;
  top: 10px;
  font-size: 110%;
  font-weight: bold;
  display: inline-block; }
  .member-name small {
    font-weight: normal; }

/* Promotional Area (Right Side) */
.promotion, .acs-benefits {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.promotion {
  float: right;
  *float: none;
  background-color: #F8F9EB;
  padding: 1em;
  clear: both; }

.membership-dues {
  float: left;
  *float: none;
  display: block;
  margin-bottom: 1em; }
  .membership-dues ul {
    float: left;
    *float: none;
    *display: block;
    margin-left: 0\9;
    margin-top: 0.5em;
    margin-right: 0;
    margin-bottom: 0; }
    .membership-dues ul li {
      float: left;
      *float: none;
      width: 100%;
      display: inline\9;
      line-height: 1.2em;
      *vertical-align: super; }
      .membership-dues ul li .sub {
        float: left;
        width: 60%;
        width: 56% \9;
        font-size: 0.9em;
        padding: 0; }
  .membership-dues span {
    float: left;
    display: block;
    width: 100%;
    padding: 0.75em 0;
    border-bottom: 1px solid #ccc; }
    .membership-dues span span {
      border: none; }
    .membership-dues span:last-child, .membership-dues span span {
      border: none; }
    .membership-dues span b {
      float: left;
      width: 70%;
      width: 56% \9; }
  .membership-dues .price {
    float: right;
    font-weight: bold;
    text-align: right;
    color: #5E7000;
    width: 30%;
    width: 44% \9;
    padding: 0; }

.acs-benefits {
  background-color: #fff;
  padding: 1em;
  clear: both; }
  .acs-benefits h4 {
    border-bottom: 2px solid #D7B004;
    padding: 0.45em;
    font-size: 1.15em; }
    .acs-benefits h4 i {
      float: left;
      margin-top: -0.2em;
      margin-right: 0.35em; }
  .acs-benefits ul {
    margin: 0; }
  .acs-benefits li {
    list-style: none;
    background: transparent url("../images/icon-check-green.png") no-repeat 9px 14px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0 10px 37px; }
    .acs-benefits li:last-child {
      border-bottom: none;
      padding-bottom: 0; }

/*****************************/
/* Education & Employment Pages
/*****************************/
.table-chem-degree {
  _margin-bottom: 10px; }
  .table-chem-degree th {
    text-align: left; }
  .table-chem-degree td {
    padding-right: 10px;
    padding-bottom: 10px;
    *padding-bottom: 0; }

/*****************************/
/* Catalog Pages
/*****************************/
.sub-item-icon {
  background: url("../images/sub-item-icon.png") no-repeat scroll 0 -3px transparent;
  float: left;
  width: 14px;
  height: 14px;
  display: block;
  margin-right: 4px;
  text-indent: -9999px; }

.cart-action {
  width: 12.33em;
  padding-left: 0 !important; }

table.catalog {
  width: 100%; }
  table.catalog table td {
    text-align: left;
    vertical-align: middle; }
  table.catalog thead {
    display: none; }
  table.catalog tr.item-heading td, table.catalog tr.item-archives td {
    padding: 0 .64em; }
  table.catalog td {
    padding: 0; }
    table.catalog td.item-detail-cell {
      padding: 8px; }
  table.catalog .price {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: right;
    background-color: #f6f6f6;
    padding: .5em .8em;
    color: #000;
    width: 70px; }
  table.catalog .item-price {
    width: 90px; }
    table.catalog .item-price input[type='text'] {
      width: 100%;
      text-align: right; }
  table.catalog .item-sub-total .price,
  table.catalog .item-price div.selected,
  table.catalog .item-archive-price div.selected {
    background-color: #faf2b1;
    font-weight: bold; }
  table.catalog .item-sub-total .price,
  table.catalog .item-price div.selected {
    width: 120px; }
  table.catalog .item-sub-total td {
    text-align: right;
    padding-right: 7.4em; }
  table.catalog .item-sub-total .price {
    margin-right: 0.7em; }
  table.catalog .item-sub-total hr.h-rule {
    width: 140px;
    margin-bottom: 1em;
    float: right;
    clear: left; }

.item-sub-total .label {
  background: none;
  color: #000;
  font-size: inherit;
  font-weight: normal;
  border: none; }

.archive table,
.product table {
  width: 100%; }

/* Product */
tr.product td {
  padding: 0 1.28em; }

/* Product - Archive */
tr.archive th.archive-title {
  text-align: left;
  padding: 0 0 3px 13.6em; }
tr.archive tr.item-archives td {
  line-height: 10px; }
  tr.archive tr.item-archives td span {
    font-style: italic; }
tr.archive tr.item-archives input {
  margin-top: 0; }
tr.archive tr.item-archives .item-archive-year {
  padding-left: 13.6em; }
tr.archive tr.item-archives .item-archive-price {
  width: 90px;
  padding-left: 1em; }
tr.archive tr.item-archives td.cart-action {
  width: 10.33em;
  padding-left: 0; }

.item-title {
  float: left; }

.item-toggle {
  border-left: 1px solid #999999;
  float: left;
  margin-left: 2em;
  padding-left: 1em; }

.item-desc {
  color: #666;
  float: left;
  padding-right: 2em;
  width: 28em;
  *width: 24em;
  text-align: left; }

.item-thumbnail {
  float: right;
  margin-right: 15.33em; }

.item-status-added,
.item-remove {
  display: none; }

.item-status-added {
  color: #008040;
  font-weight: bold;
  text-decoration: none; }

.item-status-unavailable {
  color: #008040;
  font-weight: bold;
  text-decoration: none; }

div.item-desc {
  line-height: 1.3;
  *padding-bottom: 1.32em; }

p.item-desc {
  margin-left: 12.2em;
  margin-left: 14.6em;
  line-height: 1.3;
  *padding-bottom: 1.32em; }

td.remove {
  width: 6em;
  *width: 6.4em; }

tr.item-sub-total, tr.archive {
  display: none; }

#page-subtotal {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-right: 8em;
  *margin-right: 6.7em;
  background: none repeat scroll 0 0 #EEEEEE;
  float: right;
  padding: 1em; }
  #page-subtotal p {
    font-size: 110%;
    margin: 0; }
    #page-subtotal p span.amount {
      font-weight: bold; }

hr.item-seperator {
  margin: 1em 0 1em 0;
  width: 100%;
  background-color: #bbb;
  border: none; }

#publications .ui-state-error {
  display: block;
  margin: 0.7em 0;
  padding: 0.5em 0.5em;
  width: inherit; }
  #publications .ui-state-error .ui-icon {
    margin-right: 0.3em;
    margin-bottom: 25px;
    float: left; }

#publications .alert {
  width: 39em;
  margin: 0.7em 0 0;
  *margin: 0; }
  #publications .alert a {
    color: #B94A48;
    text-decoration: underline; }

.teaserText {
  color: #008040;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none; }

.new-price {
  color: red; }

.strike-out {
  text-decoration: line-through; }

.subscription > .header > .free {
  min-width: 18%;
  text-align: center; }

.subscription > .parent > .free {
  width: 18%;
  text-align: center;
  padding-bottom: 3px; }

.subscription > .parent > .price > .strike-out {
  min-width: 72px;
  display: inline-block; }

.subscription > .archive > .item > .title {
  width: 58.2%; }

.subscription > .parent > .price,
.subscription > .archive > .item > .price {
  width: 16%; }

/*****************************/
/* Checkout Page
/*****************************/
/* Member info section */
#membership-account .member-info, .member-invoice .member-info {
  margin-left: 35px;
  border-right: 1px solid #ccc; }
  #membership-account .member-info p, .member-invoice .member-info p {
    margin-bottom: 1em; }
  #membership-account .member-info .edit, .member-invoice .member-info .edit {
    float: right;
    margin-right: 15px; }
#membership-account .acs-ui-icon-32, .member-invoice .acs-ui-icon-32 {
  float: left; }

/* Cart Table on Invoice Page */
.member-invoice .boxed-body {
  float: left;
  width: 96.4%; }

table#cart {
  width: 100%;
  text-align: right;
  margin-bottom: 2em; }
  table#cart tr.row-heading {
    background-color: #D9EDF7; }
  table#cart td.category {
    text-align: left; }
  table#cart td.edit {
    padding-right: 0.6em; }
  table#cart th a[name], table#cart th a[name]:hover {
    color: #333;
    text-decoration: none; }
  table#cart th.category {
    text-align: left; }
  table#cart th, table#cart td {
    padding: 8px; }
  table#cart .qty, table#cart .amount, table#cart .discount, table#cart .tax, table#cart .shipping {
    border-left: 1px solid #ccc; }
  table#cart .qty {
    text-align: center; }
  table#cart .discount.applied {
    color: #DD1144; }
  table#cart .empty-cart-row td p {
    margin: 1em 0; }
  table#cart td.add-items {
    text-align: left; }

.national-membership-sub-items .category,
.technical-division-sub-items .category,
.publications-sub-items .category,
.contributions-sub-items .category {
  font-style: italic; }

.watermark {
  color: #999 !important; }

.row-edit {
  margin-left: 1em;
  font-weight: normal;
  font-size: 93%; }

/* Prices Table on Invoice Page */
#multiyear-dues {
  margin: 0 0 1em; }
  #multiyear-dues.alert .radio.inline {
    margin-left: 5px;
    padding-top: 0;
    _display: block; }
  #multiyear-dues.alert input {
    margin-top: 2px; }
  #multiyear-dues p {
    margin: 0; }

#discount {
  float: left;
  margin: 1em 0 0;
  width: 26.5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #FCF8E3;
  border: 1px solid #ccc;
  overflow: hidden; }
  #discount .applycode {
    padding: 10px;
    border-bottom: 1px solid #ccc; }
    #discount .applycode .btn {
      margin-left: 5px; }
  #discount table {
    width: 100%; }
  #discount tr {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    vertical-align: top; }
    #discount tr:last-child {
      border-bottom: none; }
  #discount td {
    padding: 8px; }
  #discount input {
    margin-bottom: 0;
    width: 70%;
    _height: 25px;
    _display: inline; }
  #discount .status {
    color: #468847; }

table#prices {
  background-color: #F5F5F5;
  float: right;
  margin: 1em 0 0;
  width: 26.5em;
  text-align: right;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  table#prices th, table#prices td {
    padding: 0.6em 1em;
    font-weight: normal; }
  table#prices tr {
    border-bottom: 1px solid #ddd; }
    table#prices tr:last-child {
      border: none; }
    table#prices tr.subtotal th, table#prices tr.subtotal td, table#prices tr.total th, table#prices tr.total td {
      font-weight: bold; }
    table#prices tr.total th, table#prices tr.total td {
      font-size: 124%;
      padding: 0.6em 0.73em 0.6em 0; }
    table#prices tr.discount td {
      color: #DD1144; }
  table#prices td.amount {
    border-left: 1px solid #ddd; }

/* Billing / CC box on Invoice Page */
.billing .control-group {
  display: table; }
.billing .control-label {
  text-align: left; }

#cc-icons {
  vertical-align: middle; }

#bd input#ccv[type="text"] {
  width: 6em; }

.verisign-secured {
  float: right; }

.whats-this {
  font-size: 11px;
  zoom: 1; }

.disclaimer {
  float: left;
  display: block;
  margin-top: 1.5em; }

.checkout-referredby select {
  display: none; }

/*****************************/
/* Payment Confirmation Page
/*****************************/
.confirm-payment h2 {
  text-align: right;
  padding-right: 10px; }

.billing.confirm .controls {
  font-weight: bold; }
.billing.confirm .edit {
  font-weight: normal; }
.billing.form-horizontal .controls {
  margin-bottom: 6px; }

#invoice-reciept .payment-status {
  text-transform: uppercase;
  color: #008040;
  font-weight: bold; }
#invoice-reciept #multiyear-dues {
  margin: 1em 2em; }
  #invoice-reciept #multiyear-dues em {
    color: #7f7f7f; }
#invoice-reciept table#cart {
  margin-top: 0.5em; }
#invoice-reciept #print-invoice, #invoice-reciept #Div1 {
  clear: right;
  float: right;
  text-align: right; }
#invoice-reciept .attention {
  color: #008000; }

.billinginfolabel {
  display: block;
  padding-top: 12px; }

/* ACS Benefits, Program, and Services */
.benefit-highlight .status {
  color: #DD1144; }
.benefit-highlight table {
  margin: 0.5em 0 1.5em;
  border-bottom: 1px solid #ddd; }

/* Create ACS ID Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0; }

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8; }

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  outline: none; }
  .modal.fade {
    -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
    -o-transition: opacity 0.3s linear, top 0.3s ease-out;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
    transition: opacity 0.3s linear, top 0.3s ease-out;
    top: -25%; }
  .modal.fade.in {
    top: 10%; }

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee; }
  .modal-header .close {
    margin-top: 2px; }
  .modal-header h3 {
    margin: 0;
    line-height: 30px; }

.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px; }

.modal-form {
  margin-bottom: 0; }

.modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 6px;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  overflow: hidden;
  *zoom: 1; }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

#createACSIDModal fieldset {
  margin-bottom: 0; }
#createACSIDModal .password-strength {
  width: 210px;
  margin-bottom: 10px; }

/* Verification Succeeded & Verify account email & Payment Failed */
/* short body wrapper */
.bd-wrapper {
  width: 65%;
  margin: 0 auto;
  padding-top: 3em;
  clear: both; }

/*****************************/
/* MGM Page
/*****************************/
body.application ul#mainSiteMenuMMenu {
  top: 53px; }
body.application .mm-page {
  background: #fff; }

#global-banner .navbar-toggle.icon {
  display: none; }

.mm-opened .mm-slideout {
  position: relative; }

.mgm #my-menu {
  display: block; }

#mainSiteMenuMMenuNav,
#mainSiteProfileInfo {
  display: none; }

#hd #search input.search-submit {
  float: right;
  margin-left: 0; }

#hd.mgm {
  padding: 0; }

#BodyTag #bd {
  max-width: 1151px;
  margin: 0 auto 1em; }

#ft.mgm ul {
  float: left; }
#ft.mgm p {
  float: right; }

#ft {
  background: transparent;
  color: #333; }

#ft.extended {
  background-color: #333;
  color: #aaa; }

#ft .additionalLine {
  display: block;
  margin: 0 auto;
  max-width: 1151px;
  padding: 15px 0; }

.mgm-invitation {
  margin-top: 1em; }
  .mgm-invitation .row-fluid {
    margin-left: -15px;
    margin-right: -15px; }
  .mgm-invitation ul {
    margin: 0 0 10px 0; }
  .mgm-invitation li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    line-height: 1.25em; }
    .mgm-invitation li.disabled, .mgm-invitation li.disabled a {
      color: #999; }

.mgm-invitee,
.mgm-invitee-status {
  display: inline-block;
  vertical-align: top; }

.mgm-invitee {
  width: 65%; }

.mgm-invitee-status {
  float: right;
  *float: none;
  width: 34%; }
  .mgm-invitee-status .saved {
    background: transparent url(../images/icon-check-green.png) no-repeat scroll 0 4px;
    background-size: 0.75em 0.75em;
    color: #468847;
    font-weight: bold;
    float: right;
    padding-left: 14px;
    display: none; }

.mgm-invitee-email {
  display: block;
  font-size: 0.95em; }

.share-sponsorship .by-share-link,
.share-sponsorship .by-copy-code,
.share-sponsorship .by-copy-clipboard {
  margin-bottom: 1.5em; }
.share-sponsorship .promo-code {
  background-color: #D9EDF7;
  color: #3c88ae;
  text-shadow: 0 1px 1px #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  padding: 0.25em 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.share-sponsorship textarea {
  width: 90%;
  margin-bottom: 10px; }

.mgm-promo {
  background: #358DAE url("https://www.acs.org/content/dam/BEA/oma/promo-mgm.png") no-repeat right bottom;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1em; }
  .mgm-promo .promo-text {
    display: block;
    color: #fff;
    padding: 15px 20px; }
    .mgm-promo .promo-text h3 {
      color: #fff;
      font-size: 160%;
      margin-bottom: 10px; }
    .mgm-promo .promo-text p {
      width: 62%;
      font-size: 110%;
      padding-left: 0; }
  .mgm-promo img {
    display: none; }

#inviteModal {
  width: 800px;
  left: 40%;
  top: 5%; }
  #inviteModal.modal.in {
    display: block !important;
    max-height: 80%; }
  #inviteModal .modal-body {
    max-height: unset;
    position: absolute;
    overflow-y: auto;
    padding: 15px;
    bottom: 150px;
    top: 60px; }
  #inviteModal .modal-content {
    height: 100%; }

#inviteModal textarea, #inviteModal input[type="text"], #inviteModal input[type="password"], #inviteModal input[type="datetime"], #inviteModal input[type="datetime-local"], #inviteModal input[type="date"], #inviteModal input[type="month"], #inviteModal input[type="time"], #inviteModal input[type="week"], #inviteModal input[type="number"], #inviteModal input[type="email"], #inviteModal input[type="url"], #inviteModal input[type="search"], #inviteModal input[type="tel"], #inviteModal input[type="color"], #inviteModal .uneditable-input,
.login-form textarea,
.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="datetime"],
.login-form input[type="datetime-local"],
.login-form input[type="date"],
.login-form input[type="month"],
.login-form input[type="time"],
.login-form input[type="week"],
.login-form input[type="number"],
.login-form input[type="email"],
.login-form input[type="url"],
.login-form input[type="search"],
.login-form input[type="tel"],
.login-form input[type="color"],
.login-form .uneditable-input {
  box-sizing: content-box; }

/*****************************/
/* Give an ACS Membership Page
/*****************************/
.gift-membership .mgm-invitee {
  width: 75%; }
.gift-membership .mgm-invitee-status {
  width: 24%; }
  .gift-membership .mgm-invitee-status .saved {
    color: #468847; }
.gift-membership .mgm-invitee-name,
.gift-membership .mgm-invitee-email {
  display: inline-block; }
.gift-membership .mgm-invitee-name {
  width: 35%; }
.gift-membership .mgm-invitee-email {
  width: 64%; }

/* Divisions Page */
.hidden-checkbox {
  display: none; }

/*****************************/
/* New Member Registration Page
/*****************************/
.meeting h1 {
  margin-bottom: .75em;
  padding-top: 0; }
.meeting h3 {
  margin: 0;
  padding-top: 10px; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #fff;
  border: 1px solid #ccc;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border 0.2s linear, box-shadow 0.2s linear;
  -o-transition: border 0.2s linear, box-shadow 0.2s linear;
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear;
  transition: border 0.2s linear, box-shadow 0.2s linear; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  display: inline-block;
  height: 30px;
  padding: 0px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle; }

.required {
  color: #DD1144; }

.form-horizontal .control-group {
  margin-bottom: 10px; }
.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right; }
.form-horizontal .controls {
  margin-left: 180px; }

textarea {
  height: auto; }

.input-xlarge {
  width: 270px; }

.input-xxlarge {
  width: 530px; }

/*****************************/
/* Bootstrap Overrides
/*****************************/
.container .global-nav {
  z-index: 0; }

#bd .typeahead li {
  list-style: none; }

/* Misc */
.label {
  /* override bootstrap */
  background: none;
  color: #000;
  font-size: 1em;
  text-shadow: none; }
  .label:hover {
    color: #000; }

.clearboth {
  clear: both;
  height: 0; }

.placeholder {
  background-color: #eee;
  height: 150px;
  width: 100%;
  display: block; }

@media screen and (max-width: 768px) {
  #hd.mgm #hamburger {
    display: none; }
  #hd.mgm #global-banner {
    padding: 0 10px; }
  #hd.mgm #global-links ul {
    display: block; }
  #hd.mgm #global-logo,
  #hd.mgm .acs-logo {
    display: block; }
  #hd.mgm #global-logo {
    margin-top: 30px; }

  #global-banner {
    top: 0; }

  .login-form, .signup {
    width: 100%;
    float: left;
    margin-left: 0; }

  #gvNominee {
    width: 100% !important; } }
@media screen and (max-width: 480px) {
  #hd.mgm #global-links ul {
    display: none; }

  #inviteModal {
    max-width: 100%;
    left: 70%; }
    #inviteModal .control-label {
      text-align: left; }
    #inviteModal .controls {
      margin-left: 0; }
    #inviteModal .help-block input[type="checkbox"] {
      margin-right: 5px; }
    #inviteModal input[type="text"] {
      width: 95%; }

  #ft.extended ul {
    padding: 8px 0 0;
    text-align: center; }

  #ft.extended ul {
    float: none;
    text-align: center; } }
