 #acs-cover-section {
     margin-bottom: 40px;
     background-color: #FDD941;
 }
 
 #membership-pricing-section {
     background-color: #f6f6f6;
 }
 
 #membership-content-mem {
     padding-top: 50px;
     padding-bottom: 50px;
 }
 
 #membership-content-article {
     padding-top: 0px;
     padding-bottom: 30px;
     background-color: #fff;
     /*background-color: #f6f6f6;*/
 }
 
 #member-first-section-bg {
     background-image: url('../images/bgImage.png');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: right center;
     padding-top: 5px;
     background-color: #FDD941;
 }
 
 #membership-benift-section {
     margin-bottom: 40px;
 }
 
 #video-bg {
     /*background-image: url('../images/video-section-bg.png');*/
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center top;
     padding-top: 30px;
     padding-bottom: 50px;
 }
 
/* @media only screen and (min-width: 1px) {
     #video-bg {
         background-image: url('../images/video-section-bg.png');
     }
 }
 
 @media only screen and (min-width: 768px) {
     #video-bg {
         background-image: url('../images/video-section-bg.png');
     }
 }
 
 @media only screen and (min-width: 1024px) {
     #video-bg {
         background-image: url('../images/video-section-bg.png');
     }
 }
 
 @media only screen and (min-width: 1280px) {
     #video-bg {
         background-image: url('../images/video-section-bg.png');
     }
 }*/
 
 body.membership #my-menu #membershipLink {
     display: none;
 }
 
 body.membership .breadcrumb {
     position: absolute;
     z-index: 1;
 }
 
 body.membership .breadcrumb li {
     background: none;
     padding: 0;
 }
 
 body.membership .breadcrumb li:not(:first-of-type):not(:nth-child(2)):before {
     content: '>';
     margin: 0 7px 0 4px;
 }
 
 body.membership {
     background-color: #fff;
     color: #000;
     text-shadow: none;
 }
 
 body.membership .btn-link {
     border-color: #333 !important;
     color: #333;
 }
 
 body.membership .btn-lg {
     padding: 13px 40px;
     line-height: inherit;
 }
 
 body.membership .btn-primary.btn-block {
     color: #000 !important;
     font-size: 18px;
     padding: 13px 20px;
     font-weight: bold;
 }
 
 body.membership .acsnav > li:last-child .btn-link {
     margin-left: 10px;
 }
 
 .membership-intro > .clearfix.text_dark {
     background-position: 65% 0 !important;
 }
 
 .membership-intro .image {
     margin-bottom: 0;
 }
 
 .membership-intro .image_left {
     padding-right: 0;
 }
 
 .membership-intro .image-info {
     display: none;
 }
 
 .membership-intro .parbase.text {
     margin: 30px 0;
     width: 700px;
     max-width: 100%;
 }
 
 .membership-intro ul {
     margin: 0;
 }
 
 .membership-intro .text li {
     list-style: none;
     display: inline;
     left: 0;
 }
 
 .membership-intro a {
     background: #fff;
     padding: 3px 10px;
     color: #333;
     display: inline-block;
     margin-bottom: 8px;
     margin-right: 10px;
     width: 275px;
     line-height: inherit;
     position: relative;
     box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
     font-weight: bold;
 }
 
 .membership-intro a:hover {
     text-decoration: none;
     background-color: #000;
     color: #fff;
 }
 
 .membership-intro a:hover > i.fa {
     left: 3px;
     font-weight: bold;
     color: #FDD74D;
 }
 
 .membership-intro a.btn-primary {
     background-color: #000;
     color: #fff;
     text-align: left;
 }
 
 .membership-intro a.btn-primary span {
     color: #FBD333;
 }
 
 .membership-intro a i {
     margin-right: 10px;
 }
 
 .membership-intro i.fa {
     position: relative;
     transition: left 0.2s ease;
     left: 0;
     font-size: 20px;
     line-height: 1.5em;
 }
 
 .membership-pdf-forms {
     margin-top: 1em;
 }
 
 .membership-pricing {
     padding-left: 0;
     padding-right: 0;
 }
 
 .membership-pricing .box-style1 {
     padding: 40px 15px 0;
     box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
 }
 
 .membership-pricing .box-style1 .columnsBootstrap {
     margin-bottom: 25px;
 }
 
 .membership-pricing .price {
     font-size: 3.25em;
     font-weight: bold;
     margin-bottom: 15px;
     text-align: left;
 }
 
 .membership-pricing .price small {
     font-size: 0.5em;
 }
 
 .membership-pricing .btn {
     margin: 0 10px 10px;
 }
 
 .membership-pricing .pricing-p {
     margin-bottom: 0;
 }
 
 .pricing-table {
     text-align: left;
 }
 
 .pricing-table > b {
     font-size: 1.1em;
 }
 
 .pricing-table > br {
     display: none;
 }
 /* Temporary override for the tab component h2 */
 
 .cq-wcm-edit .tab-content h2 {
     font-size: 1.1em;
     font-weight: 600;
     margin: 0.5em 0.5em 0.5em 2em;
 }
 
 @media (min-width: 769px) {
     body.article #bd > * > * > .col-md-12 {
         margin-top: 0;
     }
     #bd .parbase.section > .container {
         padding: 0;
     }
     .acsnav li > .btn {
         padding: .75em 1em;
     }
     .acsnav li > .btn:before,
     .acsnav li > .btn:after {
         display: none;
     }
     .acsnav li > .btn:hover {
         color: #000 !important;
     }
 }
 
 @media (max-width: 768px) {
     .membership-intro .parbase.text {
         width: 100%;
     }
     .membership-intro a {
         width: 46%;
         display: inline-block;
         margin-right: 10px;
     }
     .membership-intro a,
     .membership-intro .btn-primary {
         padding: 10px 10px;
     }
     .membership-pricing .price {
         margin-bottom: 0;
         line-height: 1.25em;
     }
     .membership-pricing .pricing-p {
         margin-bottom: 2em;
     }
     /* temp bug fix with visited link color */
     .acsnav > li.acsnav-mm > a:hover {
         color: #fff;
     }
 }
 
 @media (min-width: 481px) and (max-width: 768px) {
     .membership-intro > .clearfix.text_dark {
         background-size: 63em 16em !important;
         background-position: 53% -68% !important;
     }
 }
 
 @media (max-width: 480px) {
     .membership-intro a {
         width: 100%;
     }
     .membership-intro > .clearfix.text_dark {
         background-position: 45% 0 !important;
     }
     body.membership .membership-pricing .btn-link {
         display: block;
     }
     body.membership .membership-pricing .btn-lg {
         width: 43%;
         padding-left: 20px;
         padding-right: 20px;
         display: inline-block;
     }
     body.membership .membership .bottom-promo > .clearfix {
         padding: 0 15px;
     }
 }
 
 @media only screen and (min-width: 1px) {
     #member-first-section-bg {
         background-image: url('../images/bgImage.png');
     }
 }
 
 @media only screen and (min-width: 768px) {
     #member-first-section-bg {
         background-image: url('../images/bgImage.png');
     }
 }
 
 @media only screen and (min-width: 1024px) {
     #member-first-section-bg {
         background-image: url('../images/bgImage.png');
     }
 }
 
 @media only screen and (min-width: 1280px) {
     #member-first-section-bg {
         background-image: url('../images/bgImage.png');
     }
 }

 .cover-heading h1{
    text-align: left;
    margin-bottom: 0.15em;
    color: #333;
 }
 .cover-heading p{
    font-weight: normal;
    margin-bottom: 2.0em;
    margin-top: 0;
    font-size: 16px;
    color: #333;
 }
 .membership-section-4{
    background-color: #f6f6f6;
 }
 .membership-section-4 h2{
    margin-bottom: 1.3em;
 }
.membership-section-5 p{
    height: 65px;
}
.membership-section-2 p{
    margin: 0.5em 0 1.5em;
}
.membership-package p{
    font-size: 15px;
}
.membership-package h2{
    margin-bottom: 3px;
    color: #333;
}
.package-features p{
    padding-top: 15px;
    font-size: 18px;
    margin-bottom: 0;
}
.features-list{
    background-color: #f6f6f6;
    border-radius: 9px;
    height: 395px;
    overflow-y: scroll;
    margin-bottom: 20px;
}
.features-list p{
    margin: 0;
    font-size: 17px;
    padding: 20px 0;
}
.features-list .feature-points p{
    border-bottom: 2px solid #ccc;
}
.features-list .available-features p{
    text-align: center;
}
.features-list .available-features p.inactive{
    color: #c1bfbf;
}
#scroll-style::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#scroll-style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #c1c1c1;
}
.p-0{
    padding: 0px;
}
.pb-12{
    padding-bottom: 12px;
}
.package-1{
    padding: 15px 15px 0 15px;
    background-color: #fff;
    margin: 0px 0px 0 -3px;
    -webkit-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);-moz-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34)box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);
    width: 48%;
}
.package-2{
    padding: 15px 15px 0 15px;
    background-color: #fff;
    margin: 0px 0px 0 10px;
    -webkit-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);-moz-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34)box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);
    width: 48%;
}
.feature-point-1{
    /*padding: 15px 0px 0 15px;*/
    padding: 10px 0;
    background-color: #fff;
    margin: 0px 0px 0 0px;
    -webkit-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);-moz-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34)box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);
    width: 48%;
}
.feature-point-2{
    /*padding: 15px 0px 0 15px;*/
    padding: 10px 0;
    background-color: #fff;
    margin: 0px 0px 0 10px;
    -webkit-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);-moz-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34)box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);
    width: 48%;
}
.full-width{
    width: 100%;
}
.membership-btn a{
    display: block;
    width: 100%;
}
.cq-dd-image h4{
    font-size: 1.15em;
}
.membership-pdf-forms p{
    margin: 0px;
}
.membership-pdf-forms a{
    margin-bottom: 15px;
}
.submit-package{
    padding: 8px 40px !important;
}
.package-page-logo{
    padding-left: 65px;
}
.package-header li{
    border-right: 1px solid #cccccc59;
    padding: 0px 7px;
}
.package-page-acs-btn{
    background-color: transparent !important;
    border-right: 1px solid #ccc;
    padding: 0 10px !important;
}
.nav-steps{
    padding-top: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-5{
    margin-top: 5px;
}
label{
    color: #333;
}
select.classic {
    background-image: linear-gradient(45deg, transparent 55%, #555555 55%), linear-gradient(135deg, #555555 55%, transparent 55%), linear-gradient(to right, #fff, #fff);
    background-position: calc(100% - 20px) calc(1em + 1px), calc(100% - 15px) calc(1em + 1px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.form-border-line{
    border-bottom: 1px solid #ccc;
}
.pb-10{
    padding-bottom: 10px;
}
.mr-10{
    margin-right: 10px;
}
.add-on-content p{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 35px;
}
.glyphicon-plus-sign{
    color: #006EBE;
    font-size: 28px;
    top: 8px;
}
.mt-15{
    margin-top: 15px !important;
}
.more-info-btn{
    padding: 8px 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.align-border-line{
    margin-left: 15px;
    padding-left: 0;
    width: 98%;
}
.mt-25{
    margin-top: 25px;
}
.small-selectfield{
    width: 12%;
    padding-right: 0px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-0{
    margin-bottom: 0px;
}
.checkout-subheading{
    font-weight: normal;
    color: #333;
}
.pl-0{
    padding-left: 0px;
}
.pr-0{
    padding-right: 0px;
}
.align-small-border{
    margin-left: 15px;
    padding-left: 0;
}
.mt-0{
    margin-top: 0px;
}

.profile-text-area{
    border-left: 1px solid #ccc;
}
.profile-text-area p{
    color: #166EB1;
}
.profile-img-area img{
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #166EB1;
}
.pl-30{
    padding-left: 30px;
}
.p-2-0{
    padding: 20px 0;
}
.p-35-0{
    padding: 35px 0;
}
.pt-25{
    padding-top: 25px;
}
.edit-profile-btn{
    padding: 10px 38px;
    font-weight: bold;
}
.cancel-package{
    font-weight: bold;
    text-decoration: underline;
}
.pb-25p{
    padding-bottom: 25%;
}
.mt-30{
    margin-top: 30px;
}
.mt-10{
    margin-top: 10px;
}
.align-section-right{
    text-align: right !important;
}
.align-section-left{
    text-align: left !important;
}
.profile-section-2{
    padding: 0% 7% 25% 7%;
}


/*.media-membership-section p{
    background-color: #f6f6f6;
    padding: 30px 0;
}*/
.media-membership-section{
    background-color: #f6f6f6;
    padding: 25px 0px;
}
.media-membership-section .nav>li{
    margin: 10px 0px;
}
.media-membership-section .nav>li:nth-child(1) {
    width: 60%;
}
.media-membership-section .nav>li:nth-child(2) {
    width: 90%;
}
.media-membership-section .nav-pills{
    margin-left: -15px;
}
.nav-pills>li>a {
    border-radius: 0px 4px 4px 0px;
}
.media-membership-section .nav>li>a{
    padding: 20px 8px;
    font-size: 26px;
    font-weight: 600;
    color: #333;
    background-color: #fff;
}
.media-membership-section .nav-pills>li.active>a, .media-membership-section .nav-pills>li.active>a:hover, .media-membership-section .nav-pills>li.active>a:focus {
    background-color: #2d6ebe;
    color: #fff;
}
.media-feature-section{
    background-color: #fff;
    /* color: #333 !important; */
    border-radius: 4px;
}
.media-feature-section .tab-content .scroll-features{
    height: 308px;
    overflow-y: scroll;
}
.media-feature-section h2{
    color: #333;
    margin-bottom: 30px;
}
.media-feature-section p{
    color: #333;
}
.package-btn{
    position: absolute;
    /* bottom: 25px; */
    /* color: #fff; */
    /* background-color: #989898; */
    /* border-color: #989898; */
    /* padding: 10px 20px; */
    font-weight: bold;
}
.package-head{
    margin: 0px 0 30px 0;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) {
    .membership-section-5 p {
        height: 55px;
    }
    .membership-section-5 .cq-dd-image{
        margin-bottom: 30px;
    }
    .membership-section-5 .image_center{
        padding-bottom: 0px;
    }
    #membership-content-mem{
        padding-bottom: 0px
    }
    .acs-footer-logo{
        text-align: center;
        max-width: 100% !important;
    }
    #ft .sitemap-col{
        max-width: 170px;
    }
    .mb-70{
        margin-bottom: 70px !important;
    }
    .mb-25{
        margin-bottom: 25px !important;
    }
    #ft dl.sitemap-cat dt{
        font-size: 15px;
    }
}

/*i-phone 5*/
@media screen and (device-aspect-ratio: 40/71) {
    #ft .sitemap-col{
        max-width: 140px;
    }
    #ft dl.sitemap-cat dt{
        font-size: 12px;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .menu {
        padding: 0 10px;
    }
    .menu__logo img {
        height: 36px;
    }
    a.menu__link {
        display: inline-block;
        position: relative;
        padding: 54px 7px;
        font-size: 9px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #767676;
    }
    .menu .search-form__input {
        margin: 0px 0px 0 5px;
        font-size: 0.8em;
    }
    .menu .search-form {
        min-width: 120px;
    }
    menu .search-form__button {
        height: 14px;
        width: 14px;
        margin-right: 5px;
    }
    .menu #search {
        width: 142px;
    }
    #member-first-section-bg {
        background-image: url(../images/bgImage-tab.jpg);
    }
    #ft .sitemap-col {
        max-width: 175px;
    }
    .mb-t-25{
        margin-bottom: 25px;
    }
    .feature-point-2 {
        margin: 0px 0px 0 9px;
    }
    .package-2 {
        padding: 15px 10px 0 8px;
        margin: 0px 0px 0 7px;
    }
    .package-1 {
        margin: 0px 0px 0 -4px;
    }
    .features-list .available-features p{
        padding: 28px 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    a.menu__link {
        padding: 36px 20px;
    }
    #member-first-section-bg {
        background-image: url(../images/bgImage.png);
    }
    .package-2 {
        padding: 15px 15px 0 15px;
    }
    .features-list .available-features p{
        padding: 20px 0;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    a.menu__link {
        padding: 36px 15px;
    }
    #member-first-section-bg {
        background-image: url(../images/bgImage.png);
    }
    .package-2 {
        padding: 15px 15px 0 15px;
    }
    .features-list .available-features p{
        padding: 20px 0;
    }
}