 #bd>.container-fluid {
    overflow: hidden;
}
 #acs-cover-section {
     margin-bottom: 40px;
     background-color: #FDD941;
 }
 #acs-cover-section-gray {
     background-color: #f5f5f5;
 }

 #membership-pricing-section {
     background-color: #f6f6f6;
 }

 #membership-content-mem {
     padding-top: 50px;
     padding-bottom: 50px;
 }

 #membership-content-article {
     padding-top: 0px;
     padding-bottom: 30px;
     background-color: #fff;
     /*background-color: #f6f6f6;*/
 }

 #member-first-section-bg {
     background-image: url('../images/bgImage.png');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: right center;
     padding-top: 5px;
     background-color: #FDD941;
 }

 #membership-benift-section {
     margin-bottom: 80px;
 }

 #video-bg {
     /*background-image: url('../images/video-section-bg.png');*/
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center top;
     padding-top: 30px;
     padding-bottom: 50px;
 }

/* @media only screen and (min-width: 1px) {
     #video-bg {
         background-image: url('../images/video-section-bg.png');
     }
 }

 @media only screen and (min-width: 768px) {
     #video-bg {
         background-image: url('../images/video-section-bg.png');
     }
 }

 @media only screen and (min-width: 1024px) {
     #video-bg {
         background-image: url('../images/video-section-bg.png');
     }
 }

 @media only screen and (min-width: 1280px) {
     #video-bg {
         background-image: url('../images/video-section-bg.png');
     }
 }*/

 body.membership #my-menu #membershipLink {
     display: none;
 }

 body.membership .breadcrumb {
     position: absolute;
     z-index: 1;
 }

 body.membership .breadcrumb li {
     background: none;
     padding: 0;
 }

 body.membership .breadcrumb li:not(:first-of-type):not(:nth-child(2)):before {
     content: '>';
     margin: 0 7px 0 4px;
 }

 body.membership {
     background-color: #fff;
     color: #000;
     text-shadow: none;
 }

 body.membership .btn-link {
     border-color: #333 !important;
     color: #333;
 }

 body.membership .btn-lg {
     padding: 13px 40px;
     line-height: inherit;
 }

 body.membership .btn-primary.btn-block {
     color: #000 !important;
     font-size: 18px;
     padding: 13px 20px;
     font-weight: bold;
 }

 body.membership .acsnav > li:last-child .btn-link {
     margin-left: 10px;
 }

 .membership-intro > .clearfix.text_dark {
     background-position: 65% 0 !important;
 }

 .membership-intro .image {
     margin-bottom: 0;
 }

 .membership-intro .image_left {
     padding-right: 0;
 }

 .membership-intro .image-info {
     display: none;
 }

 .membership-intro .parbase.text {
     margin: 30px 0;
     width: 700px;
     max-width: 100%;
 }

 .membership-intro ul {
     margin: 0;
 }

 .membership-intro .text li {
     list-style: none;
     display: inline;
     left: 0;
 }

 .membership-intro a {
     background: #fff;
     padding: 3px 10px;
     color: #333;
     display: inline-block;
     margin-bottom: 8px;
     margin-right: 10px;
     width: 275px;
     line-height: inherit;
     position: relative;
     box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
     font-weight: bold;
 }

 .membership-intro a:hover {
     text-decoration: none;
     background-color: #000;
     color: #fff;
 }

 .membership-intro a:hover > i.fa {
     left: 3px;
     font-weight: bold;
     color: #FDD74D;
 }

 .membership-intro a.btn-primary {
     background-color: #000;
     color: #fff;
     text-align: left;
 }

 .membership-intro a.btn-primary span {
     color: #FBD333;
 }

 .membership-intro a i {
     margin-right: 10px;
 }

 .membership-intro i.fa {
     position: relative;
     transition: left 0.2s ease;
     left: 0;
     font-size: 20px;
     line-height: 1.5em;
 }

 .membership-pdf-forms {
     margin-top: 1em;
 }

 .membership-pricing {
     padding-left: 0;
     padding-right: 0;
 }

 .membership-pricing .box-style1 {
     padding: 40px 15px 0;
     box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
 }

 .membership-pricing .box-style1 .columnsBootstrap {
     margin-bottom: 25px;
 }

 .membership-pricing .price {
     font-size: 3.25em;
     font-weight: bold;
     margin-bottom: 15px;
     text-align: left;
 }

 .membership-pricing .price small {
     font-size: 0.5em;
 }

 .membership-pricing .btn {
     margin: 0 10px 10px;
 }

 .membership-pricing .pricing-p {
     margin-bottom: 0;
 }

 .pricing-table {
     text-align: left;
 }

 .pricing-table > b {
     font-size: 1.1em;
 }

 .pricing-table > br {
     display: none;
 }
 /* Temporary override for the tab component h2 */

 .cq-wcm-edit .tab-content h2 {
     font-size: 1.1em;
     font-weight: 600;
     margin: 0.5em 0.5em 0.5em 2em;
 }

 [data-content-type='row'][data-appearance='contained']{
  width:100% !important;
  max-width:100% !important;
 }
 .page-header{
  padding-bottom: 0!important;
  margin:0!important;
 }
 .nav-sections{
	 margin-bottom: 0!important;
 }

.cms-page-view .header.content{
	 padding: 0px 0px!important;
 }

 .customer-account-create .account .label{
	color:#000 !important;
 }
.membership-package p{
	margin-top:12px!important;
}
.customer-account-login .label{
	color:#000 !important;
}
.account .label{
	color:#000 !important;
 }

 .account .header.content{
	 display:none;
 }
 .header.content{
	 display:none;
 }
 .block-collapsible-nav .item .delimiter{
	border-top: none !important;
    margin: 0px !important;
 }

 .account .nav.item{
 background-color: #f6f6f6 !important;
    color: black!important;
    display: block!important;
    text-decoration: none!important;
    border-bottom: 1px solid #dadada!important;
    padding: 1% 0%!important;
	text-align:center;
 }
.menu__list{
background-color:none!important;
}
.account.page-layout-2columns-left .column.main {
    width: 70.7%!important;
}
.account.page-layout-2columns-left .sidebar-main, .account.page-layout-2columns-left .sidebar-additional {
    width: 29.3% !important;
}
.registration-webinar-index .header.content {
    padding: 0px 0px;
}
 @media (min-width: 769px) {
     body.article #bd > * > * > .col-md-12 {
         margin-top: 0;
     }
     #bd .parbase.section > .container {
         padding: 0;
     }
     .acsnav li > .btn {
         padding: .75em 1em;
     }
     .acsnav li > .btn:before,
     .acsnav li > .btn:after {
         display: none;
     }
     .acsnav li > .btn:hover {
         color: #000 !important;
     }
 }

 @media (max-width: 768px) {
     .membership-intro .parbase.text {
         width: 100%;
     }
     .membership-intro a {
         width: 46%;
         display: inline-block;
         margin-right: 10px;
     }
     .membership-intro a,
     .membership-intro .btn-primary {
         padding: 10px 10px;
     }
     .membership-pricing .price {
         margin-bottom: 0;
         line-height: 1.25em;
     }
     .membership-pricing .pricing-p {
         margin-bottom: 2em;
     }
     /* temp bug fix with visited link color */
     .acsnav > li.acsnav-mm > a:hover {
         color: #fff;
     }
 }

 @media (min-width: 481px) and (max-width: 768px) {
     .membership-intro > .clearfix.text_dark {
         background-size: 63em 16em !important;
         background-position: 53% -68% !important;
     }
 }

 @media (max-width: 480px) {
     .membership-intro a {
         width: 100%;
     }
     .membership-intro > .clearfix.text_dark {
         background-position: 45% 0 !important;
     }
     body.membership .membership-pricing .btn-link {
         display: block;
     }
     body.membership .membership-pricing .btn-lg {
         width: 43%;
         padding-left: 20px;
         padding-right: 20px;
         display: inline-block;
     }
     body.membership .membership .bottom-promo > .clearfix {
         padding: 0 15px;
     }
 }

 @media only screen and (min-width: 1px) {
     #member-first-section-bg {
         background-image: url('../images/bgImage.png');
     }
 }

 @media only screen and (min-width: 768px) {
     #member-first-section-bg {
         background-image: url('../images/bgImage.png');
     }
 }

 @media only screen and (min-width: 1024px) {
     #member-first-section-bg {
         background-image: url('../images/bgImage.png');
     }
 }

 @media only screen and (min-width: 1280px) {
     #member-first-section-bg {
         background-image: url('../images/bgImage.png');
     }
 }

 .cover-heading h1{
    text-align: left;
    margin-bottom: 0.15em;
    color: #333;
 }
 .cover-heading p{
    font-weight: normal;
    margin-bottom: 2.0em;
    margin-top: 0;
    font-size: 16px;
    color: #333;
 }
 .membership-section-4{
    background-color: #f6f6f6;
 }
 .membership-section-4 h2{
    margin-bottom: 1.3em;
 }

.membership-section-2 p{
    margin: 0.5em 0 1.5em;
}
.membership-package p{
    font-size: 15px;
}
.membership-package h2{
    margin-bottom: 3px;
    color: #333;
}
.package-features p{
    padding-top: 15px;
    font-size: 18px;
    position: relative;
    margin-bottom: 0;
    bottom: 5px;
}
.features-list{
    background-color: #f6f6f6;
    border-radius: 9px;
    height: 395px;
    overflow-y: scroll;
    margin-bottom: 20px;
}
.features-list p{
    margin: 0;
    font-size: 17px;
    padding: 20px 0;
}
.features-list .feature-points p{
    border-bottom: 2px solid #ccc;
}
.features-list .available-features p{
    text-align: center;
}
.features-list .available-features p.inactive{
    color: #c1bfbf;
}
#scroll-style::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#scroll-style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #c1c1c1;
}
.p-0{
    padding: 0px;
}
.pb-12{
    padding-bottom: 12px;
}
.package-1{
    padding: 30px 30px 0 30px;
    background-color: #fff;
    margin: 0px 0px 0 -3px;
    -webkit-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);-moz-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34)box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);
    width: 48%;
}
.package-2{
    padding: 30px 30px 0 30px;
    background-color: #fff;
    margin: 0px 0px 0 10px;
    -webkit-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);-moz-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34)box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);
    width: 48%;
}
.compare-package-title{
    margin-top:30px;
}
.compare-features{
    margin-top: 60px;
}
.compare-features h3{
   color: #333;
}
.feature-point-1{
    /*padding: 15px 0px 0 15px;*/
    padding: 10px 0;
    background-color: #fff;
    margin: 0px 0px 0 0px;
    -webkit-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);-moz-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34)box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);
    width: 48%;
}
.feature-point-2{
    /*padding: 15px 0px 0 15px;*/
    padding: 10px 0;
    background-color: #fff;
    margin: 0px 0px 0 10px;
    -webkit-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);-moz-box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34)box-shadow: -1px 1px 15px -6px rgba(0,0,0,0.34);
    width: 48%;
}
.full-width{
    width: 100%;
}
.membership-btn a{
    display: block;
    width: 100%;
}
.cq-dd-image h4{
    font-size: 1.15em;
    line-height: 23px;
}
.membership-pdf-forms p{
    margin: 0px;
}
.membership-pdf-forms a{
    margin-bottom: 15px;
}
.submit-package{
    padding: 8px 40px !important;
}
.package-page-logo{
    padding-left: 65px;
}
.package-header li{
    border-right: 1px solid #cccccc59;
    padding: 0px 7px;
}
.package-page-acs-btn{
    background-color: transparent !important;
    border-right: 1px solid #ccc;
    padding: 0 10px !important;
}
.nav-steps{
    padding-top: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-5{
    margin-top: 5px;
}
label{
    color: #333;
}
select.classic {
    background-image: linear-gradient(45deg, transparent 55%, #555555 55%), linear-gradient(135deg, #555555 55%, transparent 55%), linear-gradient(to right, #fff, #fff);
    background-position: calc(100% - 20px) calc(1em + 1px), calc(100% - 15px) calc(1em + 1px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.form-border-line{
    border-bottom: 1px solid #ccc;
}
.pb-10{
    padding-bottom: 10px;
}
.mr-10{
    margin-right: 10px;
}
.add-on-content p{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.glyphicon-plus-sign{
    color: #006EBE;
    font-size: 28px;
    top: 8px;
}
.mt-15{
    margin-top: 15px !important;
}
.more-info-btn{
    padding: 8px 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.align-border-line{
    margin-left: 15px;
    padding-left: 0;
    width: 98%;
}
.mt-25{
    margin-top: 25px;
}
.small-selectfield{
    width: 12%;
    padding-right: 0px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-0{
    margin-bottom: 0px;
}
.checkout-subheading{
    font-weight: normal;
    color: #333;
}
.pl-0{
    padding-left: 0px;
}
.pr-0{
    padding-right: 0px;
}
.align-small-border{
    margin-left: 15px;
    padding-left: 0;
}
.mt-0{
    margin-top: 0px;
}

.edit-profile{
    float: right;
    margin-right: 10px;
}
.profile-text-area{
    margin-top: 15px;
}
.profile-text-area p{
    color: #166EB1;
}

.profile-img-area img{
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #166EB1;
}
.pl-30{
    padding-left: 30px;
}
.p-2-0{
    padding: 20px 0;
}
.p-35-0{
    padding: 60px 0;
}
.pt-25{
    padding-top: 25px;
}
.edit-profile-btn{
    padding: 10px 38px;
    font-weight: bold;
}
.cancel-package{
    font-weight: bold;
    text-decoration: underline;
}
.pb-25p{
    padding-bottom: 25%;
}
.mt-30{
    margin-top: 30px;
}
.mt-10{
    margin-top: 10px;
}
.align-section-right{
    text-align: right !important;
}
.align-section-center{
    text-align: center;
}
.align-section-left{
    text-align: left !important;
}
.profile-section-2{
    padding: 0% 7% 25% 7%;
}
.mt-7{
    margin-top: 7px;
}
.mb-24{
    margin-bottom: 24px;
}
.mt-2em{
    margin-top: 2em;
}
.mt-32{
    margin-top: 32px;
}
.fs-15{
    font-size: 15px;
}
.no-border{
    border: none;
}
.m-0{margin:0;
}

.webinar-list{
    border: 1px solid #d8d8d8;
}
.webinar-list-secion-two{
      border-bottom: 1px solid #d8d8d8;
}
.image-div-logo{
    padding-top:15px;
}
.related-topics-text a{
    font-size: 15px;
    color: #333;
    font-weight: 800;
}
.related-tag{
        padding-bottom: 60px;
}
.related-tag li a {
    border: 1px solid #7f7f7f;
    padding: 10px 20px;
    border-radius: 20px;
    color: #7f7f7f;
}
.past-webinar ul{
    margin:0;
}
.more-from{
    background-color: #f6f6f6;
}
.hr-no-gap{
    margin:0;
}

.more-from img{
width: 120px;
height:120px;
border:1px solid #333;
border-radius: 50%;
}

.more-from .image-div{
        background: #fff;
    padding: 20px 0;
        width: 235px;
}
.more-from h4{
    margin-top:10px;
    width: 235px;
}

.cq-dd-image small{
    position: relative;
    top:2px;
}
.breadcrumb-align{
    padding: 8px 35px;
}
.member-service-section{
    padding: 0 20px;
}
.circle-image img{
    border: 2px solid #1c59a5;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.webinar-banner-text{
    float: right;
    margin-bottom: 3px;
}
.webinar-live{
    color:red;
    margin-right: 5px;
}
.webinar-banner-text h4{
    color:#166EB1;

    margin-bottom: 3px;
}
.webinar-banner-text .btn{

    border: 1px solid #0054a5;
    padding: 5px 10px;
}
.past-webinar li a{
    border: 1px solid #333;
    padding: 6px 18px;
    color:#333;
}
.upcoming-free-webinar h3{
    color:#0054a5;
    padding-top: 10px;

}
.upcoming-webinar-date{
        font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    font-size: 14px;
}
.webinar-breadcrumb{
        padding: 8px 13px;
}
.past-webinar li{
    padding: 12px 6px;
}
.member-align-middle{
    margin: 23px 0;
}

.popover {
        width: 100%;
}
.popover.right{
top: 0!important;
    left: 500px !important;
    display: block;
}
.popover.right>.arrow{
        top: 15%;
}
.popover.right>.arrow:after{
    border-right-color: #f7f7f7;
}
.popover-content {
    padding: 9px 14px;
    height: 150px;
    overflow-y: scroll;
    background: #f7f7f7;
}

.popover-content::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.popover-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #c1c1c1;
}

.questionnaire .form-group{
    padding-right: 10%;
}
.webinar-notice{
    margin:50px 0 40px 0;
}
.webinar-register-form-title{
    padding:0 13px;
}
.webinar-page-register{
    margin-bottom: 30px;
}
.my-account-profile{
      padding: 40px 40px;
          margin-bottom: 30px;
}

.account-box {
    border: 2px solid #f6f6f6;
}
.profile-img-area{
    /*border: 1px solid #cacaca45;*/
    border-radius
}
 .vertical-menu {
    width: 96%;
}
.my-account-section{
    margin-bottom: 40px;
}

.vertical-menu a {
  background-color: #f6f6f6;
  color: black;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #dadada;
  padding: 4% 25%;
}

.vertical-menu a:hover {
  background-color: #ccc;
}
.my-account-profile{
    border-radius: 5px;
    border: 2px solid #f6f6f6;
}
.my-account-profile h3{
    color:#333;
}
.vertical-menu a.active {
  font-weight: 800;
}
.logout-link a{
    color:#333;

}
.logout-link {
    width: 96%;
   padding: 0 25%;
    text-align: left;
}
.current-membership{

    background: #f6f6f6;
    margin-bottom: 30px 0;
}
.pt-15{
    padding-top: 15px;
}

.edit-address{
    width: 150px;
    float:left;
    font-weight: bold;
}
.current-membership .btn{
    background: #f6f6f6;
}
.cancel-auto{
    text-align: right;
}
.my-account-addres{
    float: left;
    text-align: left;
}
.activity-history{
    background: #eee;
}

.activity-history .col-md-4{

    background: #fff;
    width: 205px;
        margin: 15px 31px 27px 0px;
    height: 150px;
   padding: 0;
}
.member-info-box{
    line-height: 30px;
    font-weight: bold;
}
.my-account-title{
    padding:15px;
}
.registration-webinar-index .my-account-title h4{
    margin-top: 15px;
}
.switch-btn{
    border:2px solid #006ebe;
    color:#006ebe;
    background: #fff;
        padding: 8px 12px;
}
.package-list{
     margin-bottom: 0;
}
.cvv{
    padding: 0;
}
.small-select-cvv{
    width: 9%;
}
.edit-profile .modal-dialog{
        width: 1000px;
    margin: 10px auto;
}
.edit-profile .modal-footer{
         padding: 15px 30px;
        text-align: left;
}
.edit-profile .modal-body{
     padding: 15px 30px;
}
.edit-profile .modal-body .form-group{
     margin-bottom: 6px;
}
.edit-profile .modal-header {
   padding: 15px 30px;

}
.sidebar-label{
        font-size: 16px;
    font-weight: 600;
    color: #7f7f7f;
}
.package-a-gap{
    margin-top:40px;
}
.nav-steps ul li{
   line-height: 19px;;
    font-size: 13px;
}
.address-type{
    width: 40%;
}
.registration-more-info .form-border-line {
    border-bottom: 1px solid #ccc;
    width: 56%;

}
#profile-img-area img{
    width: 70%;
}
.member-name{
    margin-top: 30px;
}
.tax-amt{
    width: 7%;
    padding-left: 23px;
}
.total-amt{
    padding: 0 10px;
}
.package-features h3{
    color:#333;
}
#renewal-cart img{
    width: 80%;
}

#renewal-cart .member-name{
margin-top: 40px;
}
.remove-link{
    position: relative;
    left: 17px;
}
.confirmation-section-bg-color{
    background: #f1f1f1;
    padding: 50px;
}
.confirmation-section-bg-color p{
  margin:0;
  padding: 0;
}
.confirmation-profile-detail{
    border: 2px solid #f5f4f4;
    margin-top: 50px;
    padding: 37px 50px 20px 24px;
}
.education-section-bg-color{
    background: #f1f1f1;
    padding: 15px 15px 15px 15px;
     margin-top: 50px;
}
.education-right-col{
    padding-top:45px;
}
.hr-space{
    margin: 0 30px;
}
.confirm-img img{
    width: 50%;
    margin-top: 40px;
}
.disclaimer{
    margin-top: 30px;
}
/*MEDIA QUERY*/
/*.media-membership-section p{
    background-color: #f6f6f6;
    padding: 30px 0;
}*/
.media-membership-section{
    background-color: #f6f6f6;
    padding: 25px 0px;
}
.media-membership-section .nav>li{
    margin: 10px 0px;
}
.media-membership-section .nav>li:nth-child(1) {
    width: 60%;
}
.media-membership-section .nav>li:nth-child(2) {
    width: 90%;
}
.media-membership-section .nav-pills{
    margin-left: -15px;
}
.nav-pills>li>a {
    border-radius: 0px 4px 4px 0px;
}
.media-membership-section .nav>li>a{
    padding: 20px 8px;
    font-size: 26px;
    font-weight: 600;
    color: #333;
    background-color: #fff;
}
.media-membership-section .nav-pills>li.active>a, .media-membership-section .nav-pills>li.active>a:hover, .media-membership-section .nav-pills>li.active>a:focus {
    background-color: #2d6ebe;
    color: #fff;
}
.media-feature-section{
    background-color: #fff;
    /* color: #333 !important; */
    border-radius: 4px;
}
.media-feature-section .tab-content .scroll-features{
    height: 308px;
    overflow-y: scroll;
}
.media-feature-section h2{
    color: #333;
    margin-bottom: 30px;
}
.media-feature-section p{
    color: #333;
}
.package-btn{
    position: absolute;
    /* bottom: 25px; */
    /* color: #fff; */
    /* background-color: #989898; */
    /* border-color: #989898; */
    /* padding: 10px 20px; */
    font-weight: bold;
}
.package-head{
    margin: 0px 0 30px 0;
}

.member-new-detail{
    font-weight: bold;
    width: 40%;
    float: left;
}
.member-address{
    float: right;
    text-align: right;
}

/* SH2407 */
p,ul>li,ol>li {
margin-top:auto;
margin-bottom:auto;
}

/* SH2407 */
img,object,video,embed {
max-height:auto;
max-width:fit-content;
}

.form-group span input#no1{
  margin-left: 15px;
}

/* SH2407 */
div.autocompletetext ul li{
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  list-style: none;
}
div.autocompletetext ul li:last-child{
  border-bottom:0;
}
.webinartip{
  position: relative;
  display: inline-block;
}
.webinartip span{
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.webinartip-text{
  display: none;
}
.webinartip:hover .webinartip-text{
  display: block;
  margin-top: 10px;
}
.webinartip-text p{
    color: #1b4d74;
    line-height: 1.7em;
    font-style: italic;

}
.webinar-meta, .webinar-description{
  padding:0 15px;
}
/* SH2407 */
div.autocompletetext ul {
    border: 1px solid #ccc;
    height: 190px;
    overflow: auto;
    position: absolute;
    z-index: 9999999;
    background: #fff;
    width: 94%;
    padding: 0 20px;
    margin-left: 0px;
}
/* Thankyou Page Styling*/
h1.tyh1{
 font-size:5rem !important;
 text-transform: uppercase;
 font-weight: 900;
}
.subhead{
    font-size: 3rem;
    font-weight: 800;
    margin-top: -15px;
}
.subsubhead{
    font-size: 1.5rem;
    font-weight: 800;
}
.pd-r-0{
    padding-right: 0;
}
.p-100{
    padding: 100px 0;
}

p{
color:#333;	
}
/* Thankyou Page Styling*/
.ty-hero{
    color: #000;
    text-align: center;
}
.ty-hero img.tyicon{
    margin-bottom: 20px;
}
h1.tyh1{
    color: #000;
    font-size: 7.2rem !important;
    text-transform: uppercase;
    font-family: open-sans-bold, sans-serif;
    letter-spacing: -3px;
}
.subhead{
    font-family: open-sans-semibold, sans-serif;
    font-size: 3rem;
    margin-top: -15px;
}
.subsubhead{
    font-family: open-sans-semibold, sans-serif;
    font-size: 1.5rem;
}

.yellowBG{
    background-color:#ffd75b;
}
.whiteBG{
    background-color: #fff;
}
.CM-Upsell {
    background-color: #fff;
    margin: 50px 0;
    padding: 30px;
}
.CM-Upsell h3{
    font-family: open-sans-bold;
}
.CM-Upsell h3, .CM-Upsell p, .moreWebis h3, .moreWebis p{
    color: #000;
}
.btnCont{
    padding-top: 20px;
}
.cmImgCont img{
    width: 100%;
}
.m-tb-70{
    margin: 70px 0;
}
.m-t-20{
    margin-top: 20px;
}
.moreWebis{
    height: 400px;
}
.BG-f4f4f4{
    background-color:#f4f4f4;    
}

/* TY PAGE STYLE ENDS HERE*/
.convalid:before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #b44626;
    top: -6px;
    left: 21px;
    transform: rotate(45deg);
    z-index: -1;
}
.convalid{
color: white;
    background-color: #b44626;
    padding: 12px 17px;
    font-size: 12px;
    line-height: 1.45;
    width: 305px;
    position: absolute;
    z-index: 99;
    right: 14px;
    top: 65px;
    border-radius: 3px;
    box-shadow: 0 2px 0px 0 #ddd;
}
.convalid a {
    color: #fff;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
}
.plable{
	letter-spacing: -0.8px;
}
.emailvalid{
	color: #e02b27;
	margin-top: 7px;
	font-size: 1.2rem;
}
input.communityCheckbox[type="checkbox"] {
transform: scale(1.3);
}
/* Landscape phone to portrait tablet */

/* Leaving ACS Modal Style - STARTS */
.webinar-registration-index .modal-slide .modal-inner-wrap, .webinar-registration-index .modal-popup .modal-inner-wrap{
    box-shadow: none !important;
}
.social-icon.facebook:before {
    content: "\f09a"
}
.social-icon.twitter:before {
    content: "\f099"
}

.social-icon.linkedin:before {
    content: "\f0e1"
}
@media (min-width: 768px){
   .webinar-registration-index .modal-content {
        box-shadow: none !important;
    }
}
.webinar-registration-index .modal-header, .webinar-registration-index .modal-footer, .webinar-registration-index .modal-content, .webinar-registration-index .modal-popup .modal-title{ 
    border:0 !important;
    background: none !important;
}
.webinar-registration-index .modal-content{
    height: 24vh;
}
.webinar-registration-index .modal-inner-wrap{
    width: 40vw !important;
    padding: 30px;
}

@media (min-width: 768px){
    .webinar-registration-index .modal-popup.modal-slide .modal-footer {
        text-align: left !important;
        margin: 30px;
    }    
}
.webinar-registration-index h1.modal-title{
    margin-bottom: 0 !important;
}
.webinar-registration-index .btn.stay, .webinar-registration-index .btn.leave{
    padding: 10px 40px;
    text-transform: uppercase;
}
.webinar-registration-index button.leave:hover {
    border: none;
}
.webinar-registration-index .btn.leave{
    padding-top: 12px;
    padding-bottom: 11px;
    margin-left: 15px !important;
}
/* Leaving ACS Modal Style - ENDS */

.registration-webinar-success .columns .column.main{
	padding-bottom:0px;
}
.webinar-description p {
    padding-top: 10px;
}

.webinar-meta h1 {
    margin-bottom: 5px !important;
}
.cmText{
    font-family: open-sans-bold, sans-serif;
}
.cmLink{
    border-bottom: 1px dotted black;
    cursor: pointer;
}
input.communityCheckbox[type="checkbox"]{
    margin: 0px 8px 0 3px;
    transform: scale(1.5) !important;
    top: -1px;
}
.cmContainer{
    padding-bottom: 10px;
}
.cmContent.alert.alert-info {
    display: none;
    margin-top: 5px;
}
.alert-info p {
    color: #1b4d74;
    font-style: italic;
    line-height: 1.7;
    font-size: 1.4rem;
}
@media (max-width: 767px) { ... }

@media (max-width: 1200px) {
  .my-account-title{
    padding: 30px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .membership-section-5 p {
        height: 55px;
    }
    .membership-section-5 .cq-dd-image{
        margin-bottom: 30px;
    }
    .membership-section-5 .image_center{
        padding-bottom: 0px;
    }
    #membership-content-mem{
        padding-bottom: 0px
    }
    .acs-footer-logo{
        text-align: center;
        max-width: 100% !important;
    }
    #ft .sitemap-col{
        max-width: 170px;
    }
    .mb-70{
        margin-bottom: 70px !important;
    }
    .mb-25{
        margin-bottom: 25px !important;
    }
    #ft dl.sitemap-cat dt{
        font-size: 15px;
    }
}

/*i-phone 5*/
@media screen and (device-aspect-ratio: 40/71) {
    #ft .sitemap-col{
        max-width: 140px;
    }
    #ft dl.sitemap-cat dt{
        font-size: 12px;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    /* SH2407 */
    .menu {
        /* padding: 0 10px; */
    }
    /* SH2407 */
    .menu__logo img {
        /* height: 36px; */
    }
    a.menu__link {
        /* display: inline-block;
        position: relative;
        padding: 54px 7px;
        font-size: 9px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #767676; */
    }
    .menu .search-form__input {
        margin: 0px 0px 0 5px;
        font-size: 0.8em;
    }
    .menu .search-form {
        min-width: 120px;
    }
    menu .search-form__button {
        height: 14px;
        width: 14px;
        margin-right: 5px;
    }
    .menu #search {
        width: 142px;
    }
    #member-first-section-bg {
        background-image: url(../images/bgImage-tab.jpg);
    }
    #ft .sitemap-col {
        max-width: 175px;
    }
    .mb-t-25{
        margin-bottom: 25px;
    }
    .feature-point-2 {
        margin: 0px 0px 0 9px;
    }
    .package-2 {
        padding: 15px 10px 0 8px;
        margin: 0px 0px 0 7px;
    }
    .package-1 {
        margin: 0px 0px 0 -4px;
    }
    .features-list .available-features p{
        padding: 28px 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    a.menu__link {
        /* padding: 36px 20px; */
    }
    #member-first-section-bg {
        background-image: url(../images/bgImage.png);
    }
    .package-2 {
        padding: 15px 15px 0 15px;
    }
    .features-list .available-features p{
        padding: 20px 0;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    a.menu__link {
        padding: 36px 15px;
    }
    #member-first-section-bg {
        background-image: url(../images/bgImage.png);
    }
    .package-2 {
        padding: 15px 15px 0 15px;
    }
    .features-list .available-features p{
        padding: 20px 0;
    }
}
