<?php
/**
 * @var $block \Webinar\Registration\Block\Registration
 * @see \Webinar\Registration\Block\Registration
 */
?>
<div class="container">
	<div class="webinar-meta">
		<h1><?php echo $block->getWebminarName(); ?></h1>
		<p><?php echo $block->getWebminarStartTime(); ?> - <?php echo $block->getWebminarEndTime(); ?></p>
	</div>
	<div class="webinar-description">
		<p><?php echo $block->getWebminarDescription(); ?></p>
	</div>
</div>
                                    