<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->create('Magento\Customer\Model\Session');
    
    if ($customerSession->isLoggedIn()) {
        $customerSession->getCustomerId(); // get Customer Id
        $customerSession->getCustomerGroupId();
        $customerSession->getCustomer();
        $customerSession->getCustomerData();
        
        // echo $customerSession->getCustomer()->getName(); // get Full Name
        // echo $customerSession->getCustomer()->getEmail(); // get Email
    }
    
    $getCountries = $block->getCountries();
    $getRegions = $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson();
    
    $countryId = $block->getAddressData('country_id');
    $regionId = $block->getAddressData('region_id');
?>

<!--====== start  page content ====== -->
<div id="bd" role="main">
   <!--=== main well start ===-->
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div data-bind="scope: 'address-scope'" class="articleContent parsys">
               <div class="text parbase section webinar-page-register">
                  <form method="post" action="<?php echo $block->getBaseUrl(); ?>registration/webinar/save" id="register_webinar_form"  data-bind="mageInit: {'validation': {}}" data-mage-init='{"validation": {}}'>
                        <input type="hidden" name="meeting_id" id="meeting_id" value="<?php echo $block->getMeetingId(); ?>">
                        <input type="hidden" name="source_code" id="source_code" value="<?php echo $block->getSourceCode(); ?>">
                     <?=
                        /* @noEscape */
                        $block->getChildHtml('form_fields_before_in_form') ?>
                     <?= /* @noEscape */
                        $block->getBlockHtml('formkey'); ?>
                     <input type="hidden" id="constituentid" name="constituentid" value="">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6 form-group">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('First Name') ?> <span class="required">*</span></label>
                              <input type="text" class="form-control required" name="fname" id="fname" value="<?php echo $customerSession->getCustomer()
                                 ->getFirstname() ?>" readonly data-bind="mageInit: {'validation': {required:true}}"/>
                           </div>
                           <div class="col-md-6 form-group">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('Last Name') ?> <span class="required">*</span></label>
                              <input type="text" name="lname" class="form-control required" id="lname" value="<?php echo $customerSession->getCustomer()
                                 ->getLastname() ?>" readonly data-bind="mageInit: {'validation': {required:true}}">
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6 form-group">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('Email Address') ?> <span class="required">*</span></label>
                              <input type="email" name="email" class="form-control email required" id="email" 
                                                value="<?php echo $customerSession->getCustomer()->getEmail() ?>" 
                                                data-bind="mageInit: {'validation': {required:true, 'validate-email':true}}" 
                                                onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" 
                                                onDrag="return false" onDrop="return false" autocomplete=off readonly="return true">
                           </div>
						   
                           <div class="col-md-6 form-group">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('Email Confirmation') ?> <span class="required">*</span></label>
                              <input name="confirm_email" id="confirm_email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text required" type="email" data-bind="event:{ blur: ChangeCemail}, mageInit: {'validation': {required:true, 'validate-email':true, equalTo:'#email'}}" data-validate="{required:true, 'validate-email':true, equalTo:'#email'}"/>
							  <div class="emailvalid" style="display:none;">Please enter a valid email address (Ex: johndoe@domain.com).</div>
							 <div class="convalid"  style="display:none;">
							  Email does not match our records. Please retype the confirmation email or <a id="click-me" href='#'> click here</a> to update the email on your ACS Profile.</div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6 form-group ">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('Country') ?> <span class="required">*</span></label>
                              <div class="control">
                                 <select 
                                    name="country_id" id="country_id" 
                                    data-bind="event:{ change: changeCountry}, 
                                        mageInit: {'validation': {required: true}}, 
                                        optionsText: 'label', 
                                        optionsValue: 'value', 
                                        value: chosenCountry, 
                                        optionsCaption: 'Please select Country'" 
                                    title="Country" data-validate="{'validate-select': true}">
                                    <option <?php echo (empty($countryId)) ? 'selected="selected"' : ''; ?> value="">Please select Country</option>
                                    <?php
                                        foreach (json_decode($getCountries, true) as $country) {
                                            if (empty($country['value'])) continue;
                                    ?>
                                    <option <?=($country['value'] == $countryId) ? 'selected="selected"' : ''; ?> 
                                        value="<?php echo $country['value']; ?>"><?php echo $country['label']; ?>
                                    </option>
                                    <?php
                                        }
                                    ?>
                                </select>
                              </div>
                           </div>
                           <div class="col-md-6 form-group ">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('State / Province') ?> <span class="required">*</span></label>
                              <div class="control">
                                    <?php
                                        $regionArray = json_decode($getRegions, true);
                                        if (!empty($countryId) && !empty($regionArray[$countryId])) {
                                            $regionList = $regionArray[$countryId];
                                        } 
                                        elseif (empty($countryId)) {
                                            $regionList = $regionArray['US'];
                                        } 
                                        else {
                                            $regionList = [];
                                        }
                                    ?>
                                    <select 
                                       <?=($block->getAddressData('region'))?'style="display:none"':'' ?>
                                        name="region_id" id="region_id" 
                                        data-bind="mageInit: {'validation': {required: true}}, 
                                            options: availableRegionOption, 
                                            optionsText: 'label', 
                                            optionsValue: 'value', 
                                            value: chosenRegion, 
                                            optionsCaption: 'State / Province'" 
                                        title="State / Province" data-validate="{'validate-select': true}">
                                        <option <?php echo (empty($regionId)) ? 'selected="selected"' : ''; ?> value="">State / Province</option>
                                        <?php
                                            foreach ($regionList as $key => $val) {
                                        ?>
                                        <option <?=($key == $regionId) ? 'selected="selected"' : ''; ?> 
                                                    value="<?php echo $key; ?>"><?php echo $val['name']; ?>
                                        </option>
                                    <?php
                                        }
                                    ?>
                                    </select>
                                    <input <?=($block->getAddressData('region'))?'':'style="display:none"' ?>  value="<?= $block->getAddressData('region') ?>" name="region" id="region" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text required" type="email"/>
                                </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6 form-group">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('Organization') ?> <span class="required">*</span></label>
                              <input type="text" 
                                 value="<?=$block->getAddressData('company') ?>" 
                                 name="organization" 
                                 class="form-control required" 
                                 id="organization"
                                 data-bind="event:{ keyup: organizationChange},mageInit: {'validation': {required:true}}" 
                                 autocomplete="nope"
                                 autocomplete="new-password"
                                 autocomplete="off"
                                 >
                              <input style="opacity: 0; position: absolute" />
                              <div class="autocompletetext">
                                 <ul style="display:none" data-bind = "foreach: organizationList">
                                    <li data-bind = "attr: { class: 'textvalue'},
                                       text: $data,
                                       event:{ click: $parent.selectOrganizationList}">
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <?php
                           $isMember = $customerSession->getCustomer()->getIsmember();
                           $memberType = $customerSession->getCustomer()->getMembertype();
                          if($isMember=='false' && !$memberType):
                           ?>
                        <div class="row">
                            <div class="col-md-12 p-">
                              <div class="cmContainer">
                                 <input type="checkbox" name="free_registration" class="communityCheckbox" value="free_registration">
                                 <span class="cmText">
                                 For no cost, I would like to join the American Chemical Society as a Community Member and continue to learn and engage with top tier content and resources. </span>
                                 <span class="cmLink">What is an ACS Community Membership?</span>                                  
                                <div class="cmContent alert alert-info">
                                   <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                                   <h4>As a Community Member<sup>*</sup> of the worlds largest scientific society, I will:</h4>
                                   <ul>
                                      <li>Discover news and insights to advance my career with the NEW C&amp;EN Essential</li>
                                      <li>Stay up to date about news and opportunities across the Society with a weekly subscription to ACS Matters, our official Member newsletter</li>
                                      <li>Connect with our online community through The ACS Network</li>
                                      <li>Enjoy discounts on car rentals, travel, lab equipment, and more with certain Affinity Benefits</li>
                                   </ul>
                                   <br>
                                   <p><sup>*</sup>The ACS Community Member is a six-month membership with an opportunity to renew for 12 months; or to upgrade to a full-term, regular membership<br>with a more expansive selection of benefits at cost.</p>
                                </div>
                                 
                              </div>
                           </div>
                        </div>
                        <?php endif;?>
                        <div class="row ">
                           <div class="col-md-6 form-group">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('Company/Affiliate Type') ?></label>
                              <select name="company">
                                 <option value="">Choose One...</option>
                                 <option value="Independent Consulting">Independent Consulting</option>
                                 <option value="Academic Institution">Academic Institution</option>
                                 <option value="Public Utility/Transportation">Public Utility/Transportation</option>
                                 <option value="Other">Other</option>
                                 <option value="Manufacturer - Petrochemical">Manufacturer - Petrochemical</option>
                                 <option value="Manufacturer-Food/beverage/flavors">Manufacturer-Food/beverage/flavors</option>
                                 <option value="Government">Government</option>
                                 <option value="No Response">No Response</option>
                                 <option value="Hospital/Clinic">Hospital/Clinic</option>
                                 <option value="Manufacturer-Agricultural">Manufacturer-Agricultural</option>
                                 <option value="Independent Laboratory">Independent Laboratory</option>
                                 <option value="Manufacturer-Biotech/life sciences co">Manufacturer-Biotech/life sciences co</option>
                                 <option value="Retail/Wholesale Trade">Retail/Wholesale Trade</option>
                                 <option value="Manufacturer - Other">Manufacturer - Other</option>
                                 <option value="Manufacturer - Industrial chemicals">Manufacturer - Industrial chemicals</option>
                                 <option value="Manufacturer - Pharmaceutical Co">Manufacturer - Pharmaceutical Co</option>
                                 <option value="Engineering/Construction Firm">Engineering/Construction Firm</option>
                                 <option value="Manufacturer-Environmental/water">Manufacturer-Environmental/water</option>
                              </select>
                           </div>
                           <div class="col-md-6 form-group">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('Work Function') ?></label>
                              <select name="work">
                                <option value="">Choose One...</option>
							   <option value="No Response">No Response</option>
							   <option value="Research & Development Management">Research & Development Management</option>
							   <option value="Chemical Technician">Chemical Technician</option>
							   <option value="Engineer">Engineer</option>
							   <option value="Chemist/Scientist">Chemist/Scientist</option>
							   <option value="Professor/Instructor/Administrator">Professor/Instructor/Administrator</option>
							   <option value="Health & Safety/Regulatory Affairs Manager">Health & Safety/Regulatory Affairs Manager</option>
							   <option value="Supervisor/Project Leader/Foreman">Supervisor/Project Leader/Foreman</option>
								<option value="Process/Quality Control Manager">Process/Quality Control Manager</option>	
								<option value="Sales/Marketing/Business Development">Sales/Marketing/Business Development</option>
								<option value="Retired, no longer working">Retired, no longer working</option>
								<option value="Undergraduate Student Member">Undergraduate Student Member</option>
								<option value="Executive Management">Executive Management</option>
								<option value="Graduate Student">Graduate Student</option>
								<option value="Post Doctoral/Fellow Researcher">Post Doctoral/Fellow Researcher</option>
								<option value="Other">Other</option>
								<option value="Purchasing Manager/Buyer">Purchasing Manager/Buyer</option>
								<option value="Consultant/Advisor">Consultant/Advisor</option>									
                              </select>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6 form-group">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('Post - Secondary Education Completed') ?></label>
                              <select name="secondary_education">
                                 <option value="">Choose One...</option>
								   <option value="Bachelor">Bachelor</option>
								   <option value="Doctorate">Doctorate</option>
								   <option value="Master">Master</option>
								   <option value="Associate">Associate</option>
								   <option value="High School">High School</option>
                              </select>
                           </div>
                           <div class="col-md-6 form-group ">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('Age') ?></label>
                              <select  id="title" name="age">
                                 <option value="">Choose One...</option>
                                 <option value="Under 25">Under 25</option>
                                 <option value="26-35">26-35</option>
                                 <option value="36-45">36-45</option>
                                 <option value="46-55">46-55</option>
                                 <option value="56+">56+</option>
                              </select>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6 form-group">
                              <label for="title" class="control-label"><?php /* @escapeNotVerified */ echo __('How familiar are you with the Webinar Topic?') ?></label>
                              <select name="how_familiar">
                                 <option value="">Choose One...</option>
                                 <option value="I am new to the topic">I am new to the topic </option>
                                 <option value="I am familiar with the topic">I am familiar with the topic </option>
                                 <option value="I am knowledgeable about the topic">I am knowledgeable about the topic </option>
                                 <option value="I consider myself an expert">I consider myself an expert</option>
                              </select>
                           </div>
                           <div class="col-md-6 form-group">
                              <label for="title" class="control-label plable"><?php /* @escapeNotVerified */ echo __('Would you like to find out more about and hear from the co-producer of this broadcast?') ?></label>
                              <select name="would_you_like">
                                 <option value="">Choose One...</option>
                                 <option value="Yes">Yes</option>
                                 <option value="No">No</option>
                              </select>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12 form-group">
                              <label for="question_comments" class="control-label"><?php /* @escapeNotVerified */ echo __('Questions & Comments') ?></label>
                              <textarea  name="comments" class="form-control" id="question_comments"></textarea>
                           </div>
                        </div>
                        <div class="row questionnaire">
                           <div class="col-md-12 form-group">
                              <p> <?php /* @escapeNotVerified */ echo __('By clicking this button, you submit your information to the webinar organizer who will use it to communicate with you regarding
                                 this event & their other services.') ?>  </p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12 form-group">
                              <input type="submit" class="btn btn-primary btn-lg submit-package" id="webinar_submit" value="Submit">
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /row-fluid -->
</div>
</div>


<!--====== end  page content ====== -->
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "address-scope": {
                        "component": "Webinar_Registration/js/address",
                        "regions": <?= $getRegions ?>,
                        "countries": <?= $getCountries ?>,
                        "chosenCountry": "<?= $block->getAddressData('country_id') ?>",
                        "chosenRegion": "<?= $block->getAddressData('region_id') ?>",
                        "organizasionUrl": "<?php echo $this->getUrl() . 'registration/webinar/organizasion'; ?>"
                  }
               }
         }
      }
   }
</script>
<div id="popup-modal" style="display:none;">
    <p>You are about to leave the registration page,<br>the information you have entered will not be saved.</p>
</div>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: "You're Leaving ACS Webinar Registration",
                buttons: [{
                    text: $.mage.__('Stay'),
                    class: 'btn btn-link stay',
                    click: function () {
                        this.closeModal();
                    }
                },{
                    text: $.mage.__('Leave'),
                    class: 'btn btn-primary leave',
                    click: function () {
                        window.location='https://myaccounttest.acs.org/myaccount/AcctOverview.html';
                    }
                }]
            };

            var popup = modal(options, $('#popup-modal'));
            
			$('.container-fluid').on('click', '#click-me', function () {
				//console.log('11');
                $("#popup-modal").modal("openModal");
			});
           
        }
    );
</script>
<script>
require(['jquery'], function($){
  jQuery(document).ready( function() {
	$('.container-fluid').on('click', '.cmLink', function () {  
    //$(".cmLink").click(function(){
    $(".cmContent").toggle();
	});									
  });
});
</script>
