<?php
   $registrationHelper=$this->helper('Webinar\Registration\Helper\Data');
  $block->getViewFileUrl('Webinar_Registration::image/ty-icon.svg');
   ?>
<style>
<style>
   .box{ 
   background:#71b9bf; 
   width:20%; 
   height:100px;
   text-align:center;
   margin-top:10px;
   padding-top:10px;
   float:left;
   margin:10px;
   } 
   .thankyou{
   display: block;
   margin: 20px 0 0 0;	
   }
   .thankyou span{
   display: block;
   margin: 20px 0 0 0;	
   }
</style>
<style>
   div[style] {
   padding:0px !important;
   }
</style>
<!--====== start  page content ====== -->
<div id="bd" role="main">
   <!--=== main well start ===--> 
   
      <div class="container-fluid">
          <div class="whiteBG">
            <div class="container p-100">
              <div class="row">
                <div class="col-md-12">
                  <div class="text parbase section">
                    <div class="ty-hero">
                		<img class="tyicon" src="<?php echo $block->getViewFileUrl('Webinar_Registration::image/ty-icon.svg');?>">
	                    <h1 class="align-section-center tyh1">Thank You</h1>
	                    <div class="align-section-center subhead">for registering for our live webinar!</div>
						
	                    <div class="align-section-center subsubhead"><?php if (!$registrationHelper->getFreeRegistrationMessage()):?>You will receive an email shortly with all the details on how to join the webinar.
						<?php else:?>You will receive an email shortly with all the details on how to join the webinar. You’II also receive a separate email with more details about your new Community Membership and how to access your member benefits. <?php endif;?></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <div class="container-fluid">
          	<div class="BG-f4f4f4">
          		<div class="container">
          			<div class="row">
	                	<div class="col-md-12">
	            		    <div class="moreWebis">
	                			<div class="subsubhead center p-100">
	                				<h3>Check out these free webinars!</h3><br>
	                				<p>Or visit our extensive library of recorded webinars,<br>an exclusive benefit for ACS members.</p><br>
<a href="https://aemwwwtst.acs.org/content/acs/en/acs-webinars.html" class="btn btn-default m-t-20">View All ACS Webinars</a>
	                			</div>
	                		</div>
	            	    </div>
	            	</div>
          		</div>
        		
            </div>
        </div>
      <!-- /row-fluid -->
		<div class="parbase section yellowBG">
		    <div class="container">
		      	<div class="row whiteBG m-tb-70">
		        	<div class="col-md-6 ">
			        	<div class="CM-Upsell">
		        			<h3>Not an ACS Member?</h3>
		        			<p>Join 150,000 other chemists from around the world and advance your career, network of find a job.</p>
		        			<div class="btnCont">
		        				<a href="https://join.acs.org/eweb/ACSOMATemplate.aspx?site=ACS_OMA&WebCode=CreateAccount&code=1000" class="btn btn-yellow">Join ACS</a>&nbsp;&nbsp;
		    	    			<a href="https://www.acs.org/content/acs/en/membership/member-benefits.html" class="btn btn-secondary">View All Benefits</a>
		        			</div>
			        	</div>
		        	</div>
		        	<div class="col-md-6 pd-r-0">
			        	<div class="cmImgCont">
		        			<img src="<?php echo $block->getViewFileUrl('Webinar_Registration::image/ty-Join-acs.jpg');?>">
			        	</div>
		        	</div>
		    	</div>
			</div>
		</div>

   
   </div>
</div>
<!--====== end  page content ====== -->

</div>