<?php 
$curl = curl_init();
$authStr = "grant_type=password&username=e_holderman@acs.org&password=Chemistry4life";
curl_setopt($curl, CURLOPT_POST, 3);
curl_setopt($curl, CURLOPT_POSTFIELDS, $authStr);
curl_setopt($curl, CURLOPT_URL, 'https://api.getgo.com/oauth/v2/token');
curl_setopt($curl, CURLOPT_RETURNTRANSFER, 1);
curl_setopt($curl, CURLOPT_HTTPHEADER, array(   
    'Authorization: Basic RzZheE5iMUNNZW10am0zaWpKTk9LYXdTM1NISWNBbkY6R09mbFpzVVFDYXFnV00zZA==',                                                                       
    'Content-Type: application/x-www-form-urlencoded',
	'Accept: application/json',	
	)                                                                       
); 
curl_setopt($curl, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);

$result = curl_exec($curl);
if(!$result){die("Connection Failure");}
curl_close($curl);

$tkarr = json_decode($result, true);
$userstr= "{
   'firstName':$_POST[fname],
   'lastName':$_POST[lname],
   'email':$_POST[email],
   'source':'string',
   'address':'string',
   'city':'string',
   'state':'string',
   'zipCode':'string',
   'country':'string',
   'phone':'string',
   'organization':'string',
   'jobTitle':'string',
   'questionsAndComments':'string',
   'industry':'string',
   'numberOfEmployees':'string',
   'purchasingTimeFrame':'string',
   'purchasingRole':'string',
   'responses':[
      {
         'questionKey':0,
         'responseText':'string',
         'answerKey':0
      }
   ]
}";
 
if(isset($tkarr )){
	$access_token = $tkarr['access_token'];
	$organizer_key = $tkarr['organizer_key'];
	$account_key = $tkarr['account_key'];
	$meeting_id = '6520861919194880523';
	$url = 'https://api.getgo.com/G2W/rest/v2/organizers/100000000001260361/webinars/6520861919194880523/registrants';
	$curl2 = curl_init();
	curl_setopt($curl2, CURLOPT_POST, 1);
	curl_setopt($curl2, CURLOPT_POSTFIELDS, $userstr);
	curl_setopt($curl2, CURLOPT_URL, $url);
	curl_setopt($curl2, CURLOPT_RETURNTRANSFER, 1);
	curl_setopt($curl2, CURLOPT_HTTPHEADER, array(   
    'Authorization:'. $access_token,                                                                       
    'Content-Type: application/x-www-form-urlencoded',
	)                                                                       
); 
	curl_setopt($curl2, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);
	$result2 = curl_exec($curl2);
	//print_r($result2);
	if(!$result2){die("Connection Failure");}
	curl_close($curl2);

}


?>
<style>
 <style>
	.box{ 

	background:#71b9bf; 
	width:20%; 
	height:100px;
    text-align:center;
	margin-top:10px;
	padding-top:10px;
	float:left;
	margin:10px;
	
	} 
</style>

</style>

</div>