<style>
.page-footer {
    background: #f4f4f4;
    margin-top: auto;
    padding-bottom: 0px !important;
}
</style>
<?php
$helperData=$this->helper('Webinar\Registration\Helper\Data');
$firstColumn=$helperData->getFooterData('column','first');
$secondColumn=$helperData->getFooterData('column','second');
$thirdColumn=$helperData->getFooterData('column','third');
$facebook=$helperData->getFooterData('link','facebook');
$linkedin=$helperData->getFooterData('link','linkedin');
$twitter=$helperData->getFooterData('link','twitter');
?>
<div class="footer acsFooter parbase">
  <div id="ft" class="search-ignore extended" role="contentinfo">
    <div class="container">
      <div id="ft-sitemap">
        <div class="sitemap-col acs-footer-logo"> <a href="#" class="footer__logo"><img alt="American Chemical Society, Chemistry for Life ®" src="<?php echo $this->getBaseUrl(); ?>media/logo/default/acs-logo-white.svg" /></a> </div>
        <div class="sitemap-col mb-t-25">
          <div class="footerCol1 acsFooterLinkList parbase">
            <dl class="sitemap-cat">
              <dt> GET TO KNOW US </dt>
              <?php foreach($firstColumn as $key=>$value):?>
              <dd> <a href="<?=$value?>"><?=$key?></a> </dd>
              <?php endforeach; ?>
            </dl>
          </div>
        </div>
        <div class="sitemap-col mb-70">
          <div class="footerCol2 acsFooterLinkList parbase">
            <dl class="sitemap-cat">
              <dt> JOIN US </dt>
              <?php foreach($secondColumn as $key=>$value):?>
              <dd> <a href="<?=$value?>"><?=$key?></a> </dd>
              <?php endforeach; ?>
            </dl>
          </div>
        </div>
        <div class="sitemap-col mb-25">
          <div class="footerCol3 acsFooterLinkList parbase">
            <dl class="sitemap-cat">
              <dt> GET INVOLVED </dt>
              <?php foreach($thirdColumn as $key=>$value):?>
              <dd> <a href="<?=$value?>"><?=$key?></a> </dd>
              <?php endforeach; ?>
            </dl>
          </div>
        </div>
        <div class="sitemap-col">
          <h4 class="footer__title">Follow Us</h4>
          <div class="ft-social-links"> 
            <a href="#" title="Follow us on Facebook"></a> 
            <a href="<?=$facebook?>" class="social-icon facebook" title="Follow us on Instagram"></a> 
            <a href="<?=$twitter?>" class="social-icon twitter" title="Follow us on Twitter"></a> 
            <a href="<?=$linkedin?>" class="social-icon linkedin" title="Follow us on LinkedIn"></a> 
          </div>
        </div>
      </div>
      <div class="ft-acs-address">
        <div class="footerText text parbase">
          <div class="container ">
            <div class="">
              <p>1155 Sixteenth Street, NW, Washington, DC 20036, USA |&nbsp;<a href="#">service@acs.org</a>&nbsp;|&nbsp;1-800-333-9511 (US and Canada) | 614-447-3776 (outside North America)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ft-links">
      <div class="container">
        <ul>
          <li><a href="#">Top ^</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="privacy.html">Privacy</a></li>
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <p><a href="#">Copyright &copy;</a> 2020 American Chemical Society</p>
      </div>
    </div>
  </div>
</div>