<!--
<div class="banner acsBanner parbase">
  <nav class="hat search-ignore">
    <ul class="pubs hat__list">
      <li class="pubs__item"><a href="#" class="pubs__link active">ACS</a></li>
      <li class="pubs__item"><a href="#" class="pubs__link">Publications</a></li>
      <li class="pubs__item"><a href="#" class="pubs__link">C&EN</a></li>
      <li class="pubs__item"><a href="#" class="pubs__link">CAS</a></li>
    </ul>
    <a class="hat__menu-back">< Back</a>
    <button class="hat__search-button"></button>
    <div id="member-menu" class="members">
      <div class="members" data-reactid=".0"> 
	  <a class="membership" role="menuitem" href="<?php echo $this->getUrl('customer/account/create'); ?>">Create Account</a>
	  <a class="membership" role="menuitem" href="<?php echo $this->getUrl('customer/account/login'); ?>">Sign In</a>
	  
	  <a class="membership" role="menuitem" href="https://www.acs.org/content/acs/en/membership.html?sc=190101_join_button_GlobalNav_od" data-reactid=".0.0">Membership</a> 
	  <a class="hat__join" role="menuitem" href="https://join.acs.org/eweb/ACSOMATemplate.aspx?site=ACS_OMA&amp;WebCode=CreateAccount&amp;sc=190101_join_button_GlobalNav_od" data-reactid=".0.1">Join ACS</a>
        <button class="my-account__button" aria-haspopup="true" aria-owns="myAccountMenu" aria-label="Login menu, you are logged in as undefined" data-reactid=".0.2"></button>
      </div>
    </div>
    <button class="hat__menu-button" onClick="showMenuItems();"></button>
  </nav>
</div>
-->
<style>
/* ul li {
    list-style: none !important;
} */
.my-account__button:hover,
    .my-account__button.showit {
        background-color: #fff;
        background-position: center;
       	text-align:center;
       	border-radius:unset;
       	width: 25px;
       	border:none;       
        background-image: url("https://assets.acs.org/v3.0/acs-bootstrap/images/icon-avatar.svg");
        background-repeat:no-repeat;

    }
</style>

<div class="banner acsBanner parbase">
  <nav class="hat search-ignore">
    <ul class="pubs hat__list">
      <li class="pubs__item"><a href="https://www.acs.org/content/acs/en.html" class="pubs__link active">ACS</a></li>
      <li class="pubs__item"><a href="https://pubs.acs.org/" class="pubs__link">Publications</a></li>
      <li class="pubs__item"><a href="https://cen.acs.org/index.html" class="pubs__link">C&EN</a></li>
      <li class="pubs__item"><a href="https://www.cas.org/" class="pubs__link">CAS</a></li>
    </ul>
    <a class="hat__menu-back">< Back</a>
    <button class="hat__menu-button" id='hat__menu-button'></button>
  </nav>
</div>
<div class="header acsHeader parbase">
  <nav class="menu search-ignore"> <a href="<?php echo $this->getBaseUrl(); ?>" class="menu__logo"> <img alt="American Chemical Society, Chemistry for Life ®" src="<?php echo $this->getBaseUrl(); ?>media/logo/default/logo.png" /> </a>
    <ul class="menu__list">
      <li class="menu__item"> <a href="https://www.acs.org/content/acs/en/meetings.html" class="menu__link ">Meetings & Events</a> </li>
      <li class="menu__item"> <a href="https://www.acs.org/content/acs/en/careers.html" class="menu__link ">Careers</a> </li>
      <li class="menu__item"> <a href="https://www.acs.org/content/acs/en/education.html" class="menu__link ">Students & Educators</a> </li>
      <li class="menu__item"> <a href="https://www.acs.org/content/acs/en/membership-and-networks.html" class="menu__link ">Communities</a> </li>
      <li class="menu__item"> <a href="https://www.acs.org/content/acs/en/pressroom.html" class="menu__link ">Discover Chemistry</a> </li>
	  <li class="menu__item"> <a href="https://www.acs.org/content/acs/en/awards.html" class="menu__link ">Awards</a> </li>
	  <li class="menu__item"> <a href="https://www.acs.org/content/acs/en/funding-and-awards.html" class="menu__link ">Funding</a> </li>
    </ul>
    <a href="https://join.acs.org/eweb/ACSOMATemplate.aspx?site=ACS_OMA&WebCode=CreateAccount&sc=190101_join_button_GlobalNav_od" class="menu__join">Join ACS</a>
    
  </nav>
</div>
<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){
        $(document).on("click","#hat__menu-button", function() {
          if($(".search-ignore").hasClass('showit')){
                $(".hat__menu-button").removeClass('showit');
                $(".search-ignore").removeClass('showit');    
                $(".menu__join").removeClass('showit'); 
                $("body.article").removeClass('noscroll'); 
            }else{
                $(".hat__menu-button").addClass('showit');
                $(".search-ignore").addClass('showit');
                $(".menu__join").addClass('showit');
                $("body.article").addClass('noscroll');
            }
        });
    });
</script>
<?php 

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
if ($request->getFullActionName() == 'cms_index_index') {
  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('home_banner')->toHtml();
}
if ($request->getFullActionName() == 'packagec_index_index') {
  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('packagec_banner')->toHtml();
}
?>


