<style>
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
	background: #fff;
	background-clip: padding-box;
	border: 1px solid #c2c2c2;
	border-radius: 4px !important;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 32px;
	line-height: 1.42857143;
	padding: 0 9px;
	vertical-align: baseline;
	width: 100%;
	box-sizing: border-box;
}
.tabs {
	border-radius: 5px 5px 5px 5px;
}
ul#tabs-nav {
	list-style: none;
	margin: 0;
	padding: 5px;
	overflow: auto;
}
ul#tabs-nav li {
	float: left;
	font-weight: bold;
	margin-right: 2px;
	padding: 8px 10px;
	border-radius: 5px 5px 5px 5px;
	/*border: 1px solid #d5d5de;
     border-bottom: none;*/
	cursor: pointer;
	list-style-type: none;
}
ul#tabs-nav li:hover, ul#tabs-nav li.active {
	background-color: #08E;
}
#tabs-nav li a {
	text-decoration: none;
	color: #2d2d2d;
}
.tab-content {
	padding: 10px;
	background-color: #FFF;
}
.confirmation-section-bg-color {
    background: #f1f1f1;
    padding: 50px;
}
.confirmation-profile-detail {
    border: 2px solid #f5f4f4;
    margin-top: 50px;
    padding: 37px 50px 20px 24px;
}
.member-new-detail {
    font-weight: bold;
    width: 40%;
    float: left;
}
.education-section-bg-color {
    background: #f1f1f1;
    padding: 15px 15px 15px 15px;
    margin-top: 50px;
}
input:focus,textarea:focus{
    border-color: initial;
}

input.error, textarea.error{
    border:1px solid red;
}
select:focus,textarea:focus{
    border-color: initial;
}
select.error, textarea.error{
    border:1px solid red;
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="articleContent parsys">
        <div class="container-fluid ">
          <div class="clearfix text_dark" id="membership-benift-section">
            <div class="container">
              <div class="tabs">
                <div class="nav-steps">
                  <ul>
                    <li><a id="lnkTab1" href="#tab1">Contact Information</a></li>
                    <li><a id="lnkTab2" href="#tab2">More Information</a></li>
                    <li><a id="lnkTab3" href="#tab3">Checkout</a></li>
                    <li><a id="lnkTab4" href="#tab4">Confirmation</a></li>
                  </ul>
                </div>
                <div id="tabs-content">
                  <form action="<?php echo $block->getBaseUrl(); ?>package-c-registration-thank-you-page" id="frmPackageC" name="frmPackageC" method="post" data-mage-init='{"validation":{}}'>
                    <div id="tab1" class="tab-content">
                      <div class="text parbase section">
                        <div class="container">
                          <div>
                            <h2 class="pull-left mb-0 mt-5">Get Started</h2>
                          </div>
                        </div>
                      </div>
                      <div class="text parbase section">
                        <div class="container">
                          <div>
                            <p class="form-border-line pb-10"></p>
                          </div>
                        </div>
                      </div>
                      <div class="text parbase section">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-6 form-group required">
                              <label for="email" class="control-label">Email *</label>
                              <input type="email" class="form-control required" name="txtEmail" id="txtEmail" placeholder="" data-error-msg="Enter">
                            </div>
                            <div class="col-md-6 form-group required">
                              <label for="phone" class="control-label">Phone *</label>
                              <input type="number" class="form-control required" name="txtPhone" id="txtPhone" placeholder="">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 form-group">
                              <label for="prefix" class="control-label">Prefix</label>
                              <input type="text" class="form-control" name="txtPrefix" id="txtPrefix" placeholder="">
                            </div>
                            <div class="col-md-6 form-group">
                              <label for="firstname" class="control-label">First Name *</label>
                              <input type="text" class="form-control required" name="txtFirstName" id="txtFirstName" placeholder="" >
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 form-group">
                              <label for="suffix" class="control-label">Suffix</label>
                              <input type="text" class="form-control" name="txtSuffix" id="txtSuffix" placeholder="">
                            </div>
                            <div class="col-md-6 form-group">
                              <label for="lastname" class="control-label">Last Name *</label>
                              <input type="text" class="form-control required" name="txtLastName" id="txtLastName" placeholder="">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 form-group">
                              <label for="membername" class="control-label">Member Number *</label>
                              <input type="text" class="form-control required" name="txtMemberName" id="txtMemberName" placeholder="">
                            </div>
                            <div class="col-md-4 form-group">
                              <label for="selectinput" class="control-label">Address Type *</label>
                              <select class="form-control classic"  name="txtAddressType"  id="txtAddressType">
                                <option>Home</option>
                                <option>Work</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 form-group required">
                              <label for="address1" class="control-label">Address 1 *</label>
                              <input type="text" class="form-control required" name="txtAddress1" id="txtAddress1" placeholder="">
                            </div>
                            <div class="col-md-6 form-group">
                              <label for="zipcode" class="control-label">Zip / Postal Code *</label>
                              <input type="text" class="form-control required" name="txtZipCode" id="txtZipCode" value="">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 form-group">
                              <label for="address2" class="control-label">Address 2</label>
                              <input type="text" class="form-control" name="txtAddress2" id="txtAddress2" placeholder="">
                            </div>
                            <div class="col-md-6 form-group required">
                              <label for="city">City *</label>
                              <input type="text" class="form-control" name="txtCity" id="txtCity" placeholder="">
                            </div>
                          </div>
                          <div class="row mb-30">
                            <div class="col-md-6 form-group required">
                              <label for="states">State / Province *</label>
				<select name="txtState" id="txtState" class="required">
               <option value="">Choose One...</option>
               <option value="Alabama">Alabama</option>
               <option value="Alaska">Alaska</option>
               <option value="Arizona">Arizona</option>
               <option value="Arkansas">Arkansas</option>
               <option value="California">California</option>
               <option value="Colorado">Colorado</option>
               <option value="Connecticut">Connecticut</option>
               <option value="Delaware">Delaware</option>
               <option value="District of Columbia">District of Columbia</option>
               <option value="Florida">Florida</option>
               <option value="Georgia">Georgia</option>
               <option value="Hawaii">Hawaii</option>
               <option value="Idaho">Idaho</option>
               <option value="Illinois">Illinois</option>
               <option value="Indiana">Indiana</option>
               <option value="Iowa">Iowa</option>
               <option value="Kansas">Kansas</option>
               <option value="Kentucky">Kentucky</option>
               <option value="Louisiana">Louisiana</option>
               <option value="Maine">Maine</option>
               <option value="Maryland">Maryland</option>
               <option value="Massachusetts">Massachusetts</option>
               <option value="Michigan">Michigan</option>
               <option value="Minnesota">Minnesota</option>
               <option value="Mississippi">Mississippi</option>
               <option value="Missouri">Missouri</option>
               <option value="Montana">Montana</option>
               <option value="Nebraska">Nebraska</option>
               <option value="Nevada">Nevada</option>
               <option value="New Hampshire">New Hampshire</option>
               <option value="New Jersey">New Jersey</option>
               <option value="New Mexico">New Mexico</option>
               <option value="New York">New York</option>
               <option value="North Carolina">North Carolina</option>
               <option value="North Dakota">North Dakota</option>
               <option value="Ohio">Ohio</option>
               <option value="Oklahoma">Oklahoma</option>
               <option value="Oregon">Oregon</option>
               <option value="Pennsylvania">Pennsylvania</option>
               <option value="Rhode Island">Rhode Island</option>
               <option value="South Carolina">South Carolina</option>
               <option value="South Dakota">South Dakota</option>
               <option value="Tennessee">Tennessee</option>
               <option value="Texas">Texas</option>
               <option value="Utah">Utah</option>
               <option value="Vermont">Vermont</option>
               <option value="Virginia">Virginia</option>
               <option value="Washington">Washington</option>
               <option value="West Virginia">West Virginia</option>
               <option value="Wisconsin">Wisconsin</option>
               <option value="Wyoming">Wyoming</option>
               <option value="Puerto Rico">Puerto Rico</option>
               <option value="Virgin Islands">Virgin Islands</option>
               <option value="Guam">Guam</option>
               <option value="Alberta">Alberta</option>
               <option value="British Columbia">British Columbia</option>
               <option value="Manitoba">Manitoba</option>
               <option value="New Brunswick">New Brunswick</option>
               <option value="Newfoundland">Newfoundland</option>
               <option value="Northwest Territories">Northwest Territories</option>
               <option value="Nova Scotia">Nova Scotia</option>
               <option value="Nunavut">Nunavut</option>
               <option value="Ontario">Ontario</option>
               <option value="Prince Edward Island">Prince Edward Island</option>
               <option value="Quebec">Quebec</option>
               <option value="Saskatchewan">Saskatchewan</option>
               <option value="Yukon">Yukon</option>
            </select>
                              
                            </div>
                            <div class="col-md-6 form-group">
                              <label for="country" class="control-label">Country /Region *</label>
				<select  name="txtCountry" id="txtCountry" class="required required-entry" name="country">
               <option value="">Choose One...</option>
               <option value="United States">United States</option>
               <option value="Canada">Canada</option>
               <option value="Albania">Albania</option>
               <option value="Algeria">Algeria</option>
               <option value="American Samoa">American Samoa</option>
               <option value="Andorra">Andorra</option>
               <option value="Angola">Angola</option>
               <option value="Anguilla">Anguilla</option>
               <option value="Antarctica">Antarctica</option>
               <option value="Antigua and Barbuda">Antigua and Barbuda</option>
               <option value="Argentina">Argentina</option>
               <option value="Armenia">Armenia</option>
               <option value="Aruba">Aruba</option>
               <option value="Australia">Australia</option>
               <option value="Austria">Austria</option>
               <option value="Azerbaijan">Azerbaijan</option>
               <option value="Bahamas">Bahamas</option>
               <option value="Bahrain">Bahrain</option>
               <option value="Bangladesh">Bangladesh</option>
               <option value="Barbados">Barbados</option>
               <option value="Belarus">Belarus</option>
               <option value="Belgium">Belgium</option>
               <option value="Belize">Belize</option>
               <option value="Benin">Benin</option>
               <option value="Bermuda">Bermuda</option>
               <option value="Bhutan">Bhutan</option>
               <option value="Bolivia">Bolivia</option>
               <option value="Bosnia-Herzegovina">Bosnia-Herzegovina</option>
               <option value="Botswana">Botswana</option>
               <option value="Bouvet Island">Bouvet Island</option>
               <option value="Brazil">Brazil</option>
               <option value="Brunei Darussalam">Brunei Darussalam</option>
               <option value="Bulgaria">Bulgaria</option>
               <option value="Burkina Faso">Burkina Faso</option>
               <option value="Burundi">Burundi</option>
               <option value="Cambodia">Cambodia</option>
               <option value="Cameroon">Cameroon</option>
               <option value="Cape Verde">Cape Verde</option>
               <option value="Cayman Islands">Cayman Islands</option>
               <option value="Chad">Chad</option>
               <option value="Chile">Chile</option>
               <option value="China">China</option>
               <option value="Christmas Island">Christmas Island</option>
               <option value="Colombia">Colombia</option>
               <option value="Comoros">Comoros</option>
               <option value="Congo">Congo</option>
               <option value="Cook Islands">Cook Islands</option>
               <option value="Costa Rica">Costa Rica</option>
               <option value="Cote d'Ivoire">Cote d'Ivoire</option>
               <option value="Croatia">Croatia</option>
               <option value="Cyprus">Cyprus</option>
               <option value="Czech Republic">Czech Republic</option>
               <option value="Denmark">Denmark</option>
               <option value="Djibouti">Djibouti</option>
               <option value="Dominica">Dominica</option>
               <option value="Dominican Republic">Dominican Republic</option>
               <option value="East Timor">East Timor</option>
               <option value="Ecuador">Ecuador</option>
               <option value="Egypt">Egypt</option>
               <option value="El Salvador">El Salvador</option>
               <option value="Equatorial Guinea">Equatorial Guinea</option>
               <option value="Eritrea">Eritrea</option>
               <option value="Estonia">Estonia</option>
               <option value="Ethiopia">Ethiopia</option>
               <option value="Falkland Islands">Falkland Islands</option>
               <option value="Faroe Islands">Faroe Islands</option>
               <option value="Fiji">Fiji</option>
               <option value="Finland">Finland</option>
               <option value="France">France</option>
               <option value="French Guiana">French Guiana</option>
               <option value="French Polynesia">French Polynesia</option>
               <option value="Gabon">Gabon</option>
               <option value="Gambia">Gambia</option>
               <option value="Georgia">Georgia</option>
               <option value="Germany">Germany</option>
               <option value="Ghana">Ghana</option>
               <option value="Gibraltar">Gibraltar</option>
               <option value="Greece">Greece</option>
               <option value="Greenland">Greenland</option>
               <option value="Grenada">Grenada</option>
               <option value="Guadeloupe">Guadeloupe</option>
               <option value="Guam">Guam</option>
               <option value="Guatemala">Guatemala</option>
               <option value="Guinea">Guinea</option>
               <option value="Guinea-Bissau">Guinea-Bissau</option>
               <option value="Guyana">Guyana</option>
               <option value="Haiti">Haiti</option>
               <option value="Honduras">Honduras</option>
               <option value="Hong Kong">Hong Kong</option>
               <option value="Hungary">Hungary</option>
               <option value="Iceland">Iceland</option>
               <option value="India">India</option>
               <option value="Indonesia">Indonesia</option>
               <option value="Ireland">Ireland</option>
               <option value="Israel">Israel</option>
               <option value="Italy">Italy</option>
               <option value="Jamaica">Jamaica</option>
               <option value="Japan">Japan</option>
               <option value="Jordan">Jordan</option>
               <option value="Kazakhstan">Kazakhstan</option>
               <option value="Kenya">Kenya</option>
               <option value="Kiribati">Kiribati</option>
               <option value="Korea (South)">Korea (South)</option>
               <option value="Korea, Republic of">Korea, Republic of</option>
               <option value="Kuwait">Kuwait</option>
               <option value="Kyrgyzstan">Kyrgyzstan</option>
               <option value="Laos">Laos</option>
               <option value="Latvia">Latvia</option>
               <option value="Lebanon">Lebanon</option>
               <option value="Lesotho">Lesotho</option>
               <option value="Liberia">Liberia</option>
               <option value="Liechtenstein">Liechtenstein</option>
               <option value="Lithuania">Lithuania</option>
               <option value="Luxembourg">Luxembourg</option>
               <option value="Macau">Macau</option>
               <option value="Macedonia">Macedonia</option>
               <option value="Madagascar">Madagascar</option>
               <option value="Malawi">Malawi</option>
               <option value="Malaysia">Malaysia</option>
               <option value="Maldives">Maldives</option>
               <option value="Mali">Mali</option>
               <option value="Malta">Malta</option>
               <option value="Marshall Islands">Marshall Islands</option>
               <option value="Martinique">Martinique</option>
               <option value="Mauritania">Mauritania</option>
               <option value="Mauritius">Mauritius</option>
               <option value="Mayotte">Mayotte</option>
               <option value="Mexico">Mexico</option>
               <option value="Micronesia">Micronesia</option>
               <option value="Moldova, Republic of">Moldova, Republic of</option>
               <option value="Monaco">Monaco</option>
               <option value="Mongolia">Mongolia</option>
               <option value="Montenegro">Montenegro</option>
               <option value="Montserrat">Montserrat</option>
               <option value="Morocco">Morocco</option>
               <option value="Mozambique">Mozambique</option>
               <option value="Myanmar">Myanmar</option>
               <option value="Namibia">Namibia</option>
               <option value="Nauru">Nauru</option>
               <option value="Nepal">Nepal</option>
               <option value="Netherlands">Netherlands</option>
               <option value="Netherlands Antilles">Netherlands Antilles</option>
               <option value="New Caledonia">New Caledonia</option>
               <option value="New Zealand">New Zealand</option>
               <option value="Nicaragua">Nicaragua</option>
               <option value="Niger">Niger</option>
               <option value="Nigeria">Nigeria</option>
               <option value="Niue">Niue</option>
               <option value="Norfolk Island">Norfolk Island</option>
               <option value="Norway">Norway</option>
               <option value="Oman">Oman</option>
               <option value="Pakistan">Pakistan</option>
               <option value="Palau">Palau</option>
               <option value="Panama">Panama</option>
               <option value="Papua New Guinea">Papua New Guinea</option>
               <option value="Paraguay">Paraguay</option>
               <option value="Peru">Peru</option>
               <option value="Philippines">Philippines</option>
               <option value="Pitcairn">Pitcairn</option>
               <option value="Poland">Poland</option>
               <option value="Portugal">Portugal</option>
               <option value="Puerto Rico">Puerto Rico</option>
               <option value="Qatar">Qatar</option>
               <option value="Reunion">Reunion</option>
               <option value="Romania">Romania</option>
               <option value="Russian Federation">Russian Federation</option>
               <option value="Rwanda">Rwanda</option>
               <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
               <option value="Saint Lucia">Saint Lucia</option>
               <option value="Samoa (Independent)">Samoa (Independent)</option>
               <option value="San Marino">San Marino</option>
               <option value="Sao Tome and Principe">Sao Tome and Principe</option>
               <option value="Saudi Arabia">Saudi Arabia</option>
               <option value="Senegal">Senegal</option>
               <option value="Serbia">Serbia</option>
               <option value="Seychelles">Seychelles</option>
               <option value="Sierra Leone">Sierra Leone</option>
               <option value="Singapore">Singapore</option>
               <option value="Slovakia">Slovakia</option>
               <option value="Slovenia">Slovenia</option>
               <option value="Solomon Islands">Solomon Islands</option>
               <option value="Somalia">Somalia</option>
               <option value="South Africa">South Africa</option>
               <option value="Spain">Spain</option>
               <option value="Sri Lanka">Sri Lanka</option>
               <option value="St. Helena">St. Helena</option>
               <option value="Suriname">Suriname</option>
               <option value="Swaziland">Swaziland</option>
               <option value="Sweden">Sweden</option>
               <option value="Switzerland">Switzerland</option>
               <option value="Taiwan">Taiwan</option>
               <option value="Tajikistan">Tajikistan</option>
               <option value="Thailand">Thailand</option>
               <option value="Togo">Togo</option>
               <option value="Tokelau">Tokelau</option>
               <option value="Tonga">Tonga</option>
               <option value="Trinidad and Tobago">Trinidad and Tobago</option>
               <option value="Tunisia">Tunisia</option>
               <option value="Turkey">Turkey</option>
               <option value="Turkmenistan">Turkmenistan</option>
               <option value="Tuvalu">Tuvalu</option>
               <option value="Uganda">Uganda</option>
               <option value="Ukraine">Ukraine</option>
               <option value="United Arab Emirates">United Arab Emirates</option>
               <option value="United Kingdom">United Kingdom</option>
               <option value="Uruguay">Uruguay</option>
               <option value="Uzbekistan">Uzbekistan</option>
               <option value="Vanuatu">Vanuatu</option>
               <option value="Vatican City">Vatican City</option>
               <option value="Venezuela">Venezuela</option>
               <option value="Viet Nam">Viet Nam</option>
               <option value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>
               <option value="Western Sahara">Western Sahara</option>
               <option value="Yemen">Yemen</option>
               <option value="Zambia">Zambia</option>
               <option value="Zimbabwe">Zimbabwe</option>
            </select>
                            
                            </div>
                          </div>
                          <!--<button type="button" name="btnContactInfo" id="btnContactInfo" onclick="$('#lnkTab2').trigger('click');"  class="btn btn-primary btn-lg submit-package">Submit</button>-->
                          <button type="button" name="btnContactInfo" id="btnContactInfo"   class="btn btn-primary btn-lg submit-package">Next</button>
                        </div>
                      </div>
                    </div>
                    <div id="tab2" class="tab-content">
                      <div class="text parbase section">
                        <div class="container">
                          <div>
                            <h2 class="pull-left mt-5 mb-5">Demographics</h2>
                          </div>
                        </div>
                      </div>
                      <div class="text parbase section">
                        <div class="container">
                          <div>
                            <h4 class="form-border-line pb-10">We collect demographic information to improve our programs, benefits, and services</h4>
                          </div>
                        </div>
                      </div>
                      <div class="text parbase section">
                        <div class="container">
                          <div class="row">
                            <label for="selectinput" class="col-md-4 control-label pull-left">Date of Birth *</label>
                          </div>
                          <div class="row">
                            <div class="col-md-2 form-group required small-selectfield">
                              <select class="form-control classic required required-entry" name="txtDay" id="txtDay">
                                <option>Day</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                              </select>
                            </div>
                            <div class="col-md-2 form-group required small-selectfield">
                              <select class="form-control classic required required-entry" name="txtMonth" id="txtMonth">
                                <option>Month</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                              </select>
                            </div>
                            <div class="col-md-2 form-group required small-selectfield">
                              <select class="form-control classic required required-entry" name="txtYear" id="txtYear">
                                <option>Year</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 form-group">
                              <label for="prefix" class="control-label">Gender *</label>
                              <select class="form-control classic required required-entry" name="txtGender" id="txtGender">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="text parbase section">
                              <div class="container">
                                <div class="col-md-12 form-border-line align-border-line mt-2em">
                                  <h2 class="pull-left">Education</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                         
                          <div class="collapse" id="colEducation">
                            <div class="row">
                              <div class="col-md-4 form-group mt-15">
                                <label for="colege" class="control-label">College/ University *</label>
                                <input type="text" class="form-control required required-entry" name="txtCollege" id="txtCollege_1" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Degree *</label>
                                <select class="form-control classic required required-entry" name="txtDegree_1" id="txtDegree_1">
                                  <option></option>
								    <option value="associate">Associate</option>
									<option value="bachelor">Bachelor</option>
									<option value="master">Master</option>
									<option value="doctorate">Doctorate</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Major *</label>
                                <select class="form-control classic required required-entry" name="txtMajor_1" id="txtMajor">
                                  <option></option>
                                  <option value="major1">Major1</option>
                                  <option value="major2">Major2</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <label for="selectinput" class="col-md-4 control-label pull-left">Graduation/ Expected Graduation Date *</label>
                            </div>
                            <div class="row">
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtGraduationMonth_1" id="txtGraduationMonth_1">
                                  <option>Month</option>
                                  <option value="january">January</option>
                                  <option value="february">February</option>
                                </select>
                              </div>
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtGraduationYear_1" id="txtGraduationYear_1">
                                  <option>Year</option>
                                  <option value="2003">2003</option>
                                  <option value="2004">2004</option>
                                  <option value="2005">2005</option>
                                  <option value="2006">2006</option>
								  <option value="1994">2006</option>
								  <option value="1994">1994</option>
								  <option value="1994">1994</option>
								  <option value="1994">1994</option>
								  <option value="1994">1994</option>
								  <option value="1994">1994</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                            <div class="text parbase section add-on-content">
                              <div class="container">
                                <div class="col-md-12">
                                  <p><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" data-toggle="collapse" href="#collapseEducation" role="button" aria-expanded="false" aria-controls="collapseEducation" id="degree1"></span>&nbsp;&nbsp;Add a Degree</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
                          <div class="collapse" id="colEducation1">
                            <div class="row">
                              <div class="col-md-4 form-group mt-15">
                                <label for="colege" class="control-label">College/ University *</label>
                                <input type="text" class="form-control required required-entry" name="txtCollege_2" id="txtCollege_2" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Degree *</label>
                                <select class="form-control classic required required-entry" name="txtDegree_2" id="txtDegree_2">
                                  <option></option>
                                  <option value="graduation">Graduation</option>
                                  <option value="postgrad">Post Graduation</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Major *</label>
                                <select class="form-control classic required required-entry" name="txtMajor_2" id="txtMajor_2">
                                  <option></option>
                                  <option value="major1">Major1</option>
                                  <option value="major2">Major2</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <label for="selectinput" class="col-md-4 control-label pull-left">Graduation/ Expected Graduation Date *</label>
                            </div>
                            <div class="row">
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtGraduationMonth_2" id="txtGraduationMonth_2">
                                  <option>Month</option>
                                  <option value="january">January</option>
                                  <option value="february">February</option>
                                </select>
                              </div>
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtGraduationYear_2" id="txtGraduationYear_2">
                                  <option>Year</option>
                                  <option value="1991">1991</option>
                                  <option value="1992">1992</option>
                                  <option value="1993">1993</option>
                                  <option value="1994">1994</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                            <div class="text parbase section add-on-content">
                              <div class="container">
                                <div class="col-md-12">
                                  <p><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" data-toggle="collapse" href="#collapseEducation" role="button" aria-expanded="false" aria-controls="collapseEducation" id="degree2"></span>&nbsp;&nbsp;Add a Degree</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="text parbase section add-on-content">
                              <div class="container">
                                <div class="col-md-12">
                                  <p><span class="glyphicon glyphicon-minus-sign" aria-hidden="true" data-toggle="collapse" href="#collapseEducation" role="button" aria-expanded="false" aria-controls="collapseEducation" id="degree4"></span>&nbsp;&nbsp;Close</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
                          <div class="collapse" id="colEducation2" style="display:none;">
                            <div class="row">
                              <div class="col-md-4 form-group mt-15">
                                <label for="colege" class="control-label">College/ University *</label>
                                <input type="text" class="form-control required required-entry" name="txtCollege_3" id="txtCollege_3" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Degree *</label>
                                <select class="form-control classic required required-entry" name="txtDegree_3" id="txtDegree_3">
                                  <option></option>
                                  <option value="graduation">Graduation</option>
                                  <option value="postgrad">Post Graduation</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Major *</label>
                                <select class="form-control classic required required-entry" name="txtMajor_3" id="txtMajor_3">
                                  <option></option>
                                  <option value="major1">Major1</option>
                                  <option value="major2">Major2</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <label for="selectinput" class="col-md-4 control-label pull-left">Graduation/ Expected Graduation Date *</label>
                            </div>
                            <div class="row">
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtGraduationMonth_3" id="txtGraduationMonth_3">
                                  <option>Month</option>
                                  <option value="january">January</option>
                                  <option value="february">February</option>
                                </select>
                              </div>
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtGraduationYear_3" id="txtGraduationYear_3">
                                  <option>Year</option>
                                  <option value="1991">1991</option>
                                  <option value="1992">1992</option>
                                  <option value="1993">1993</option>
                                  <option value="1994">1994</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                            <div class="text parbase section add-on-content">
                              <div class="container">
                                <div class="col-md-12">
                                  <p><span class="glyphicon glyphicon-minus-sign" aria-hidden="true" data-toggle="collapse" href="#collapseEducation" role="button" aria-expanded="false" aria-controls="collapseEducation" id="degree3"></span>&nbsp;&nbsp;Close</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
                          <div class="row">
                            <div class="text parbase section">
                              <div class="container">
                                <div class="col-md-12 form-border-line align-border-line">
                                  <h2 class="pull-left mt-2em">Employment</h2>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="text parbase section add-on-content">
                                                            <div class="container">
                                                                <div class="col-md-12">
                                                                    <p><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;&nbsp;Add an Employment</p>
                                                                </div>
                                                            </div>
                              </div> -->
                          </div>
                          
                         
                          <div class="collapse" id="collapseEmployment">
                            <div class="row">
                              <div class="col-md-4 form-group mt-15">
                                <label for="title" class="control-label">Job Title *</label>
                                <input type="text" class="form-control required required-entry" name="txtJobTitle_1" id="txtJobTitle_1" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Company Name *</label>
                                <select class="form-control classic required required-entry" name="txtCompanyName_1" id="txtCompanyName_1">
                                  <option></option>
                                  <option value="companyA">Company A</option>
                                  <option value="companyB">Company B</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Function *</label>
                                <select class="form-control classic required required-entry" name="txtFunction_1" id="txtFunction_1">
                                  <option></option>
                                  <option value="function1">Function 1</option>
                                  <option value="function2">Function 2</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="industry" class="control-label">Industry *</label>
                                <input type="text" class="form-control required required-entry" name="txtIndustry_1" id="txtIndustry_1" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <label for="selectinput" class="col-md-4 control-label pull-left">Experience *</label>
                            </div>
                            <div class="row">
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtExperienceMonth_1" id="txtExperienceMonth_1">
                                  <option>Month</option>
                                  <option value="january">January</option>
                                  <option value="february">February</option>
                                </select>
                              </div>
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtExperienceYear_1" id="txtExperienceYear_1">
                                  <option>Year</option>
                                  <option value="01">01</option>
                                  <option value="02">02</option>
                                  <option value="03">03</option>
                                  <option value="04">04</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                            <div class="text parbase section add-on-content">
                              <div class="container">
                                <div class="col-md-12">
                                  <p><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" data-toggle="collapse" href="#collapseEmployment" role="button" aria-expanded="false" aria-controls="collapseEmployment" id="employment1"></span>&nbsp;&nbsp;Add Your Current Employment</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
                          <div class="collapse" id="collapseEmployment1">
                            <div class="row">
                              <div class="col-md-4 form-group mt-15">
                                <label for="title" class="control-label">Job Title *</label>
                                <input type="text" class="form-control required required-entry" name="txtJobTitle_2" id="txtJobTitle_2" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Company Name *</label>
                                <select class="form-control classic required required-entry" name="txtCompanyName_2" id="txtCompanyName_2">
                                  <option></option>
                                  <option value="comapanyA">Company A</option>
                                  <option value="comapanyB">Company B</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Function *</label>
                                <select class="form-control classic required required-entry" name="txtFunction_2" id="txtFunction_2">
                                  <option></option>
                                  <option value="function1">Function 1</option>
                                  <option value="function2">Function 2</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="industry" class="control-label">Industry *</label>
                                <input type="text" class="form-control required required-entry" name="txtIndustry_2" id="txtIndustry_2" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <label for="selectinput" class="col-md-4 control-label pull-left">Experience *</label>
                            </div>
                            <div class="row">
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtExperienceMonth_2" id="txtExperienceMonth_2">
                                  <option>Month</option>
                                  <option value="january">January</option>
                                  <option value="february">February</option>
                                </select>
                              </div>
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtExperienceYear_2" id="txtExperienceYear_2">
                                  <option>Year</option>
                                  <option value="01">01</option>
                                  <option value="02">02</option>
                                  <option value="03">03</option>
                                  <option value="04">04</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                            <div class="text parbase section add-on-content">
                              <div class="container">
                                <div class="col-md-12">
                                  <p><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" data-toggle="collapse" href="#collapseEmployment" role="button" aria-expanded="false" aria-controls="collapseEmployment" id="employment2"></span>&nbsp;&nbsp;Add Your Current Employment</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="text parbase section add-on-content">
                              <div class="container">
                                <div class="col-md-12">
                                  <p><span class="glyphicon glyphicon-minus-sign" aria-hidden="true" data-toggle="collapse" href="#collapseEmployment" role="button" aria-expanded="false" aria-controls="collapseEmployment" id="employment4"></span>&nbsp;&nbsp;close Your Current Employment</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
                          <div class="collapse" id="collapseEmployment2">
                            <div class="row">
                              <div class="col-md-4 form-group mt-15">
                                <label for="title" class="control-label">Job Title *</label>
                                <input type="text" class="form-control required required-entry" name="txtJobTitle_3" id="txtJobTitle_3" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Company Name *</label>
                                <select class="form-control classic required required-entry" name="txtCompanyName_3" id="txtCompanyName_3">
                                  <option></option>
                                  <option value="companyA">Company A</option>
                                  <option value="ComapanyB">Company B</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="selectinput" class="control-label">Function *</label>
                                <select class="form-control classic required required-entry" name="txtFunction_3" id="txtFunction_3">
                                  <option></option>
                                  <option value="function1">Function 1</option>
                                  <option value="function2">Function 2</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label for="industry" class="control-label">Industry *</label>
                                <input type="text" class="form-control required required-entry" name="txtIndustry_3" id="txtIndustry_3" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <label for="selectinput" class="col-md-4 control-label pull-left">Experience *</label>
                            </div>
                            <div class="row">
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtExperienceMonth_3" id="txtExperienceMonth_3">
                                  <option>Month</option>
                                  <option value="january">January</option>
                                  <option value="february">February</option>
                                </select>
                              </div>
                              <div class="col-md-2 form-group required small-selectfield">
                                <select class="form-control classic required required-entry" name="txtExperienceYear_3" id="txtExperienceYear_3">
                                  <option>Year</option>
                                  <option value="01">01</option>
                                  <option value="02">02</option>
                                  <option value="03">03</option>
                                  <option value="04">04</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                            <div class="text parbase section add-on-content">
                              <div class="container">
                                <div class="col-md-12">
                                  <p><span class="glyphicon glyphicon-minus-sign" aria-hidden="true" data-toggle="collapse" href="#collapseEmployment" role="button" aria-expanded="false" aria-controls="collapseEmployment" id="employment3"></span>&nbsp;&nbsp;close Your Current Employment</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
                          <div class="row">
                            <div class="text parbase section">
                              <div class="container">
                                <div class="col-md-12 form-border-line align-border-line">
                                  <h2 class="pull-left mt-2em">C&EN</h2>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 form-group mt-15">
                              <label for="selectinput" class="control-label">How do you want to receive C&EN?</label>
                              <select class="form-control classic" name="txtCnsselect" id="txtCnsselect">
                                <option>Print </option>
                                <option>Digital</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4 form-group">
                              <label for="email" class="control-label">Email Address</label>
                              <input type="email" class="form-control" name="txtCnEmail" id="txtCnEmail" placeholder="">
                            </div>
                          </div>
                          <div class="row mb-30">
                            <div class="text parbase section">
                              <div class="container">
                                <div class="col-md-12 form-border-line align-border-line">
                                  <h2 class="pull-left mt-32">ACS Technical Divisions</h2>
                                </div>
                              </div>
                            </div>
                            <div class="text parbase section">
                              <div class="container">
                                <div class="col-md-7">
                                  <p class="mt-15 mb-25 fs-15">Technical divisions are field specific and provide members a forum for networking collaboration and professional development. Explore what ACS has to offer in-depth by joining technical divisions that meet your particular interests.</p>
                                  <a href="#" class="btn btn-link more-info-btn mb-20">Add ACS Technical Division</a> </div>
                              </div>
                            </div>
                          </div>
                          <!--<button type="button" name="btnMoreInformation" id="btnMoreInformation" onclick="$('#lnkTab3').trigger('click');" class="btn btn-primary btn-lg submit-package">Submit</button>-->
                          <button type="button" name="btnMoreInformation" id="btnMoreInformation"  class="btn btn-primary btn-lg submit-package">Next</button>
                        </div>
                      </div>
                    </div>
                    <div id="tab3" class="tab-content">
                      <div class="text parbase section">
                        <div class="container">
                          <div>
                            <h2 class="pull-left mt-5 mb-5">New ACS Membership</h2>
                          </div>
                        </div>
                      </div>
                      <div class="text parbase section">
                        <div class="container">
                          <div>
                            <p class="form-border-line pb-10"></p>
                          </div>
                        </div>
                      </div>
                      <div class="text parbase section">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-5 profile-img-area" id="profile-img-area">
                              <div class="col-md-4 p-0"> <img src="../assets/images/profile-picture.jpg"> </div>
                              <div class="col-md-8 pl-30">
                                <div class="text parbase section">
                                  <div class="container">
                                    <div>
                                      <h2 class="pull-left mb-5 member-name">Jane Doe</h2>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="member-align-middle">
                                <h4>
                                  <div class="member-new-detail">Member ID:</div>
                                  2341435
                                  <p style="margin: 10px;"></p>
                                  <div class="member-new-detail">Email:</div>
                                  janedoe@gmail.com</h4>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="member-align-middle">
                                <h4 class="member-address">Address: 13th Street<br>
                                  <p style="margin: 10px;"></p>
                                  47W 13th St<br>
                                  <p style="margin: 10px;"></p>
                                  New York, NY </h4>
                              </div>
                            </div>
                            <div class="col-md-1"> <a href="#" class="edit-profile">Edit</a> </div>
                          </div>
                          <div class="row">
                            <div class="text parbase section">
                              <div class="container">
                                <div class="col-md-12 form-border-line align-border-line mt-2em">
                                  <h2 class="pull-left">Membership Invoice</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 form-group mt-15 mb-5">
                                  <h3 class="checkout-subheading">Package C <span  data-toggle="popover" title="Package C Details" data-content="SeFinder and Publications Benefits-Sdrinder
                                  ACS Meeting.Education and Workshop Discounts : National Meeting
                                  ACS Meeting, Education and workshop Discounts -Regional Meeting
                                  ACS Meeting, Education and workshop Discounts - Green Chemistry
                                  ACS Meeting.Education and Workshop Discounts - Acson campus
                                  Other Meetings and Courses
                                  Salary calculatro"class="glyphicon glyphicon-info-sign" id="scroll-style" aria-hidden="true"></span></h3>
                              <div class="checkbox">
                                <label class="control-label">
                                <input type="checkbox" value="">
                                Sign me up for Auto Renewal</label>
                              </div>
                            </div>
                            <div class="col-md-1 form-group mt-15 mb-5">
                              <h3 class="checkout-subheading">$150.00</h3>
                              <a href="membership-landing-page.html" class="remove-link">Remove</a> </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 form-border-line form-group align-small-border">
                              <h3 class="checkout-subheading">Taxes</h3>
                            </div>
                            <div class="col-md-1 form-border-line tax-amt form-group pl-0">
                              <h3 class="checkout-subheading">$5.00</h3>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-5 form-group mb-5">
                              <p class="mb-0">Applied Promotion</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4 form-group">
                              <input type="text" class="form-control" name="txtPromotion" id="txtPromotion" placeholder="">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2 form-group">
                              <h2><b>Total</b></h2>
                            </div>
                            <div class="col-md-2 form-group p-0 total-amt text-right">
                              <h2><b>$155.00</b></h2>
                            </div>
                          </div>
                          <div class="row">
                            <div class="text parbase section">
                              <div class="container">
                                <div class="col-md-12 form-border-line align-border-line mt-2em">
                                  <h2 class="pull-left">Billing Address</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="checkbox">
                            <label class="control-label">
                            <input type="checkbox" value="" class="billing-address" >
                            Same as Primary Address</label>
                          </div>
                          <div class="billing-form">
                            <div class="row">
                              <div class="col-md-4 form-group mt-15">
                                <label for="title" class="control-label">Address Line 1 *</label>
                                <input type="text" class="form-control" Name="txtNewAddressLine1" id="txtNewAddressLine1" placeholder="">
                              </div>
                              <div class="col-md-4 form-group mt-15">
                                <label for="title" class="control-label">City *</label>
                                <input type="text" class="form-control" name="txtNewCity" id="txtNewCity" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group mt-15">
                                <label for="title" class="control-label">Address Line 2 </label>
                                <input type="text" class="form-control" Name="txtNewAddressLine2" id="txtNewAddressLine2" placeholder="">
                              </div>
                              <div class="col-md-4 form-group mt-15">
                                <label for="title" class="control-label">State / Province *</label>
                                <input type="text" class="form-control" Name="txtNewState" id="txtNewState" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group mt-15">
                                <label for="title" class="control-label">Zip / Postal Code *</label>
                                <input type="text" class="form-control" Name="txtNewZipCode" id="txtNewZipCode" placeholder="">
                              </div>
                              <div class="col-md-4 form-group mt-15">
                                <label for="title" class="control-label">Country / Region *</label>
                                <input type="text" class="form-control" name="txtNewCountry" id="txtNewCountry" placeholder="">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="text parbase section">
                              <div class="container">
                                <div class="col-md-12 form-border-line align-border-line mt-2em">
                                  <h2 class="pull-left">Pay Using your Credit/Debit Card</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4 form-group mt-15">
                              <label for="title" class="control-label">Name of the Card Holder</label>
                              <input type="text" class="form-control" id="title" placeholder="">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4 form-group">
                              <label for="selectinput" class="control-label">Card Number</label>
                              <select class="form-control classic" name="txtCardNumber" id="txtCardNumber">
                                <option></option>
                                <option>Card Number 1</option>
                                <option>Card Number 2</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <label for="selectinput" class="col-md-3 control-label pull-left">Expiry Date *</label>
                            <label for="selectinput" class="col-md-3 control-label pull-left cvv">CVV *</label>
                          </div>
                          <div class="row">
                            <div class="col-md-2 form-group required small-selectfield">
                              <select class="form-control classic" name="txtCardMonth" id="txtCardMonth">
                                <option>Month</option>
                                <option>January</option>
                                <option>February</option>
                              </select>
                            </div>
                            <div class="col-md-2 form-group required small-selectfield">
                              <select class="form-control classic" name="txtCardYear" id="txtCardYear">
                                <option>Year</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                              </select>
                            </div>
                            <div class="col-md-1 form-group small-select-cvv">
                              <input type="number" class="form-control" name="txtCvv" id="txtCvv" placeholder="">
                            </div>
                          </div>
                          <div class="row mb-30">
                            <div class="text parbase section">
                              <div class="container">
                                <div class="col-md-12">
                                  <div class="checkbox">
                                    <label class="control-label">
                                    <input type="checkbox" value="" id="myCheck" required>
                                    <p>Technical divisions are field specific and provide members a forum for networking, collaboration and professional development. Explore what ACS has to offer in-depth by joining technical divisions that meet your particular interests.</p>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                         <!-- <button type="button" name="btnCheckout" id="btnCheckout" onclick="$('#lnkTab4').trigger('click');"  class="btn btn-primary btn-lg submit-package">Submit</button>-->
                        <button type="submit" name="btnCheckout" id="btnCheckout"   class="btn btn-primary btn-lg submit-package">Next</button>
                        </div>
                      </div>
                      
                    </div>
                    <div id="tab4" class="tab-content">
                    <div class="text parbase section">
						<div class="container">
							<div>
								
								<h2 class="pull-left mt-5 mb-5">New Membership Purchase</h2>
							</div>
						</div>
                    </div>
					<div class="text parbase section">
						<div class="container">
							<div>
								<p class="form-border-line pb-10"></p>
							</div>
						</div>
					</div>
					<div class="text parbase section">
						<div class="container">
							<div class="col-md-12 confirmation-section-bg-color">
								<h3>Let'sreview what you have</h3>
								<p>You're about to join usasa member with ACSPackage CMembership benefits.
					Which is valid for a year from today. Please click on the button below to place the order and complete this purchase.</p>
							</div>
						</div>
					</div>
					<div class="row confirmation-profile-detail">
						<div class="col-md-3 profile-img-area confirm-img" id="profile-img-area">
							
								<img src="../assets/images/profile-picture.jpg">
						  
						 
						</div>
						<div class="col-md-5">
							<div class="member-align-middle" id="confname">
								<h2>Jane Doe</h2>
						<h4><div class="member-new-detail">Member ID:</div>2341435
							<p style="margin: 10px;"></p>
							<div class="member-new-detail" id="confemail">Email:</div>
							 <p style="margin: 10px;"></p>
							<div class="member-new-detail" id="confphone" >Phone :</div>
							<p style="margin: 10px;"></p>
							<div class="member-new-detail" id="conaddtype">Address Type : </div>
							<p style="margin: 10px;"></p>
							<div class="member-new-detail" id="dob">Dote of Birth : </div>
						   
						 </h4>
						   
						</div>
					</div>
						<div class="col-md-4">
							<div class="member-align-middle" style="margin-top:70px;">

						<h4>
							<div class="member-new-detail">Member ID:</div>
							<div style="text-align: left;width: 60%;float:right;">13th Street <p style="margin: 10px;"></p>47W 13th St<p style="margin: 10px;"></p>New York, NY </div>
							<div class="clearfix"></div>
							<p style="margin: 10px;"></p>
							<div class="member-new-detail">Gender</div>Female
							 
						   
						 </h4>
						   
						</div>
						</div>
                                                        
                    </div>
					<div class="row education-section-bg-color">
						<div class="text parbase section">
							<div class="container">
								 <div class="col-md-12">
								<div class="col-md-6">
								   <div class="member-align-middle">
								<h2>Education</h2>
						<h4><div class="member-new-detail">Degree :</div>Bachlor in Technology
							<p style="margin: 10px;"></p>
							<div class="member-new-detail">Graduation Date</div>27 Nov 2012
							
					
							
						 </h4>
						   
						</div>
								</div>

								<div class="col-md-6">
								   <div class="member-align-middle education-right-col">
									
						<h4><div class="member-new-detail">College : </div>MIT
							<p style="margin: 10px;"></p>
							<div class="member-new-detail">Major:</div>Electronics
							 
							
						 </h4>
						   
						</div>
								</div>
							</div>
								<hr class="hr-space">
								 <div class="col-md-12">
								<div class="col-md-6">
								   <div class="member-align-middle">
								
						<h4>
							<div class="member-new-detail">Degree :</div>Master in Technology
							<p style="margin: 10px;"></p>
							<div class="member-new-detail">Graduation Date : </div>27 Nov 2014
							
						 </h4>
						   
						</div>
								</div>

								<div class="col-md-6">
								   <div class="member-align-middle">
						<h4>
							<div class="member-new-detail">College : </div>MIT
							<p style="margin: 10px;"></p>
							<div class="member-new-detail">Major : </div>Electronics
							
						 </h4>
						   
						</div>
								</div>
							</div>

							</div>
						</div>
                    </div>
					<div class="row education-section-bg-color">
                <div class="text parbase section">
                    <div class="container">
                          <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="member-align-middle">
                        <h2>Employment</h2>
                <h4><div class="member-new-detail">Company Name :</div>AzTech
                    <p style="margin: 10px;"></p>
                    <div class="member-new-detail">Job Title</div>Research Analyst
                                                            
                                                    
                                                            
                                                         </h4>
                                                           
                                                        </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                   <div class="member-align-middle education-right-col">
                                                                    
                                                        <h4><div class="member-new-detail">Industry : </div>Education
                                                            <p style="margin: 10px;"></p>
                                                            <div class="member-new-detail">Experience:</div>3 years 9 months
                                                             
                                                            
                                                         </h4>
                                                           
                                                        </div>
                                                                </div>
                                                            </div>
                                                               

                                                            </div>
                                                        </div>
                                                    </div>
													<div class="row mb-30 disclaimer">
                                                        <div class="text parbase section">
                                                            <div class="container">
                                                                <div class="col-md-12">
                                                                    <div class="checkbox">
                                                                        <label class="control-label"><input type="checkbox" value=""><p>Technical divisions are field specific and provide members a forum for networking, collaboration and professional development. Explore what ACS has to offer in-depth by joining technical divisions that meet your particular interests.</p></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													<button type="submit" class="btn btn-primary btn-lg submit-package">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
require(['jquery', 'jquery/ui'], function($){
  jQuery(document).ready( function() {	
// Show the first tab and hide the rest
$('.nav-steps li:first-child').addClass('current');
$('.tab-content').hide();
$('.tab-content:first').show();

// Click function
$('.nav-steps li').click(function(){
  $('.nav-steps li').removeClass('current');
  $(this).addClass('current');
  $('.tab-content').hide();
  
  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
});	
});
});
</script>
<script>
require([
    'jquery',
    'mage/mage'
], function($){
  jQuery(document).ready( function() {	
$('#btnContactInfo').on('click', function(){
               //alert('You have selected a button');
     
     var txtEmail = $('#txtEmail').val();
     var txtPhone = $('#txtPhone').val();
     var txtFirstName = $('#txtFirstName').val();
     var txtLastName = $('#txtLastName').val();
     var txtMemberName = $('#txtMemberName').val();
     var txtAddressType = $('#txtAddressType').val();
     var txtAddress1 = $('#txtAddress1').val();
     var txtZipCode = $('#txtZipCode').val();
     var txtCity = $('#txtCity').val();
     var txtState = $('#txtState').val();
     var txtCountry = $('#txtCountry').val();

     if ($('#frmPackageC').valid()) {
	 $('#lnkTab2').trigger('click');
     }
});


$('#btnMoreInformation').on('click', function(){
    $('#frmPackageC').find('.error').val(' ');
     $('input, textarea').click(function() {
      $(this).removeClass('error').val('');
    });  


    //  var txtDay = $('#txtDay').val();
    //  var txtMonth = $('#txtMonth').val();
    //  var txtYear = $('#txtYear').val();
    //  var txtGender = $('#txtGender').val();
    //  var txtCnsselect = $('#txtCnsselect').val();
     var txtCnEmail = $('#txtCnEmail').val();
     
    //  if($.isNumeric(txtDay) == ''){
    //    $('#txtDay').addClass('error');   
    //  }
    //  else if(t$.isNumeric(xtMonth) == '')
    //  {
    //   $('#txtMonth').addClass('error');   
    //  }
    //  else if($.isNumeric(txtYear) == '')
    //  {
    //   $('#txtGender').addClass('error');   
    //  }
    //  else if(txtCnsselect == '')
    //  {
    //   $('#txtCnsselect').addClass('error');   
    //  }
    //  else
     if ($('#frmPackageC').valid()) {
	 $('#lnkTab3').trigger('click');
     }
      
     

});


$('#btnCheckout').on('click', function(){
  var txtNewAddressLine1 = $('#txtNewAddressLine1').val();
  var txtNewCity = $('#txtNewCity').val();
  var txtNewState = $('#txtNewState').val();
  var txtNewZipCode = $('#txtNewZipCode').val();
  var txtNewCountry = $('#txtNewCountry').val();
  var txtCvv = $('#txtCvv').val();
  //var txtCnEmail = $('#txtCnEmail').val();
  if ($('#frmPackageC').valid()) {
	 $('#lnkTab4').trigger('click');
     }
});



    $(document).ready(function(){
        $('input[type="checkbox"]').click(function(){
            if($(this).is(":checked")){
                var txtnewAddress1 = $('#txtAddress1').val();
                var txtnewAddress2 = $('#txtAddress2').val();
                var txtnewZipCode = $('#txtZipCode').val();
                var txtnewCity = $('#txtCity').val();
                var txtnewState = $('#txtState').val();
                var txtnewCountry = $('#txtCountry').val();


                $('#txtNewAddressLine1').val(txtnewAddress1);
                $('#txtNewAddressLine2').val(txtnewAddress2);
                $('#txtNewZipCode').val(txtnewZipCode);
                $('#txtNewCity').val(txtnewCity);
                $('#txtNewState').val(txtnewState);
                $('#txtNewCountry').val(txtnewCountry);
     
            }
            else if($(this).is(":not(:checked)")){
                $('#txtNewAddressLine1').val('');
                $('#txtNewAddressLine2').val('');
                $('#txtNewZipCode').val('');
                $('#txtNewCity').val('');
                $('#txtNewState').val('');
                $('#txtNewCountry').val('');
            }
        });
    });

  
      var firstname = $('#txtFirstName').val();
      var lastname = $('#txtLastName').val();
      //alert(firstname);
      $('#confname').text(firstname + ' ' + lastname);
      var conemail = $('#txtEmail').val();
      $('#confemail').text(conemail);
      var confphone = $('#txtPhone').val();
      $('#confphone').text(confphone);
      var txtAddressType = $('#txtAddressType').val();
      $('#conaddtype').text(txtAddressType);

           $('#colEducation').show();
     
      $("#degree1").click(function(){
          $('#colEducation1').show();
      });
      $("#degree2").click(function(){
          $('#colEducation2').show();
      });
      $("#degree3").click(function(){
          $('#colEducation2').hide();
      });
      $("#degree4").click(function(){
          $('#colEducation1').hide();
      });

/*Employment */
     $('#collapseEmployment').show();
      
      $("#employment1").click(function(){
        $('#collapseEmployment1').show();
      });
      $("#employment2").click(function(){
       $('#collapseEmployment2').show();
       });
      $("#employment3").click(function(){
       $('#collapseEmployment2').hide();
      });
      $("#employment4").click(function(){
        $('#collapseEmployment1').hide();
      });
  });
});

</script>
