<?php 
//print_r($_POST);

//echo $_POST['txtGraduationMonth_1'];
//echo $_POST['txtGraduationYear_1'];

$searchingDate =$_POST['txtGraduationMonth_1'].'-'.$_POST['txtGraduationYear_1'];

$searchingDate3 =$_POST['txtGraduationMonth_3'].'-'.$_POST['txtGraduationYear_3']; // your variable which contain month and year
if($searchingDate < date("m-y")){ // date("m-y") return current month and year in format like('05-17) if both are equal then it match 
    $membertype='STUDENT_MEMBER_UNDERGRAD';
}
else{
   $membertype='REGULAR_MEMBER';
} 


//echo $membertype;
///exit;
?>
<?php 
$curl = curl_init();
$authStr = "grant_type=password&username=e_holderman@acs.org&password=Chemistry4life";
curl_setopt($curl, CURLOPT_POST, 3);
curl_setopt($curl, CURLOPT_POSTFIELDS, $authStr);
curl_setopt($curl, CURLOPT_URL, 'https://api.getgo.com/oauth/v2/token');
curl_setopt($curl, CURLOPT_RETURNTRANSFER, 1);
curl_setopt($curl, CURLOPT_HTTPHEADER, array(   
    'Authorization: Basic RzZheE5iMUNNZW10am0zaWpKTk9LYXdTM1NISWNBbkY6R09mbFpzVVFDYXFnV00zZA==',                                                                       
    'Content-Type: application/x-www-form-urlencoded',
	'Accept: application/json',	
	)                                                                       
); 
curl_setopt($curl, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);

$result = curl_exec($curl);
if(!$result){die("Connection Failure");}
curl_close($curl);

$tkarr = json_decode($result, true);

 //echo $_POST['constituentid'];

//if (!empty($_POST['constituentid'])) {
	//echo $_POST['constituentid'];
	//constituentid avishek =32189969
	//constituentid Garath=2264034 30186955 30876129 1825416,
		$access_token = "Test";
 $userstr1= '{
               "constituentid":"30453968",
               "applicationtype":"JOIN",
               "membertype":"'.$membertype.'",
               "cencchoice": "DIGITAL",
               "membershipterm":"1",
               "purchasedatetime":"2019-12-09T10:20:15",
               "price":"150",
               "externalpackagecode":"P-C150",
               "productkey":"3157D21F-F556-42A2-9771-D7153D4A1DFF",
               "attestationdate":"2019-12-09T10:20:15",
               "attestationname":"Kinsuk Dutta",
               "creditcardtype":"VISA",
               "maskedcreditcardnumber":"32",
               "expirationdate":"2020/10",
               "cardholdername":"Kinsuk Dutta",
               "cardaddressstreet":"Line 1",
               "cardaddresscity":"city",
               "cardaddressstate":"state",
               "cardaddresspostalcode":"20036",
               "divissocietypackagecomponent": "true",
               "divchargeable":"false",
               "orderconfirmation":"SampleConfirmationCode",
               "htmlnewsletter":"false",
               "acsmattersnewsletter":"false",
               "chemistryteacher":"false",
               "divprice":0,
               "pubissocietypackagecomponent":"false",
               "pubchargeable":"false",
               "pubprice":0,
               "lastname":"'.$_POST['txtLastName'].'",
               "firstname":"'.$_POST['txtFirstName'].'",
               "mailingaddresstype":"home",
               "addressline1":"line 1",
               "samailingaddresstype":"home",
               "saaddressline1":"line 1",
               "homephonenumber":"111-1111-1111",
               "workschoolphonenumber":"111-1111-1111",
               "faxphonenumber":"111-1111-1111",
               "emailaddress":"'.$_POST['txtEmail'].'",
               "htmlnewsletteremailaddress":"'.$_POST['txtEmail'].'",
               "typeofbusiness":"NA"
}';	
//die();
$url2 ='http://172.16.152.30:8088/api/v1/memberregistration';

//$url2 ='http://172.16.157.40:8088/api/v1/memberregistration';
$curl2 = curl_init();
	curl_setopt($curl2, CURLOPT_POST, 1);
	curl_setopt($curl2, CURLOPT_POSTFIELDS, $userstr1);
	curl_setopt($curl2, CURLOPT_URL, $url2);
	curl_setopt($curl2, CURLOPT_RETURNTRANSFER, 1);
	curl_setopt($curl2, CURLOPT_HTTPHEADER, array(   
    'Authorization:'.$access_token,
    'client_id:'.$access_token,	
    'client_secret:'.$access_token, 	
    'Content-Type: application/json',
	)                                                                       
); 
	curl_setopt($curl2, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);

	$result3 = curl_exec($curl2);
	//print_r($result3);
	if(!$result3){die("Connection Failure");}
	curl_close($curl2);	
//}
?>
<style>
	.box{ 
    text-align:left;
	margin-top:10px;
	padding-top:10px;
	float:left;
	margin:10px;
	
	} 
.thankyou{
display: block;
margin: 20px 0 0 0;	
}
.thankyou span{
display: block;
margin: 20px 0 0 0;	
}
</style>

</style>
<div class="herocontainer parbase section">
                                <div class="container">
<div class="box"> 
	<div><h2>Congratulations !</h2></div>
	<div class="thankyou">You are now a New Member of ACS - World's Largest Scientific Community is amazing. You will know all about it in the newsletters along with our upcoming events & news.</div>
</div>
</div>
</div>