<?php 
$userData = array("username" => "admin", "password" => "admin123");
$ch = curl_init("http://development-q5nzhaa-rygx2zzbmffcm.us-3.magentosite.cloud/rest/V1/integration/admin/token");
curl_setopt($ch, CURLOPT_SSL_VERIFYHOST, FALSE);
curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, FALSE);
curl_setopt($ch, CURLOPT_CUSTOMREQUEST, "POST");
curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($userData));
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch, CURLOPT_HTTPHEADER, array("Content-Type: application/json", "Content-Lenght: " . strlen(json_encode($userData))));
$token = curl_exec($ch);

$ch = curl_init( "http://development-q5nzhaa-rygx2zzbmffcm.us-3.magentosite.cloud/rest/V1/products?searchCriteria[page_size]=100" );
curl_setopt($ch, CURLOPT_SSL_VERIFYHOST, FALSE);
curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, FALSE);
curl_setopt($ch, CURLOPT_CUSTOMREQUEST, "GET");
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
$curlOptions = array(	
    CURLOPT_RETURNTRANSFER => true,	
    CURLOPT_HTTPHEADER => array("Content-type:application/json","Authorization: Bearer ".json_decode($token))
); 
curl_setopt_array( $ch, $curlOptions ); 
$response = curl_exec( $ch );		
$response = json_decode($response,true);	
//echo "<pre>";print_r($response['items']);die;
echo '</br>';?>

<div class="herocontainer parbase section membership-package visible-lg visible-md visible-sm">
    <div class="container-fluid"> <!-- membership-pricing -->
        <div class="clearfix text_dark"> <!-- id="membership-pricing-section" -->
            <div class="container">
                <div class="containerPar parsys">
                    <div class="col-md-12 p-0">
                        <div class="col-md-8">
                            <div class="text parbase section">
                                <div class="container">
                                    <div>
                                        <!-- <h2 class="h1 pull-left">Membership <b>Packages</b></h2> -->
                                        <h2 class="h1 pull-left mt-7">Membership&nbsp;<b>Packages</b></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="text parbase section">
                                <div class="container">
                                    <div>
                                        <p>Choose the best plan for you &amp; enjoy the perks ACS Membership</p>
                                    </div>
                                </div>
                            </div>
                            <div class="text parbase section">
                                <div class="container">
                                    <div class="package-features">
                                        <p><b>Features</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                        <?php $j=1;for($i=0;$i<count($response['items']);$i++){
                                        
                        if($response['items'][$i]['type_id'] == 'membership'){ ?> 
                            <div class="col-md-6 package-<?php echo $j;?>">
                                <h2><b>$ <?php echo $response['items'][$i]['price']?></b></h2>
                                <h2 class="pb-12"><b><?php echo $response['items'][$i]['name']?></b></h2>
                                <div class="button parbase section">
                                    <div>
									<?php if($response['items'][$i]['sku']=='P-A0'){
										$classpck='pcka';
									     
										?>
                                        <a href="<?php echo $block->getBaseUrl(); ?>packagec" class="btn full-width switch-btn <?php echo $classpck;?>">Switch</a>
									    <?php } else { 
                                       $classpck='pckc';

										?>
										 <a href="<?php echo $block->getBaseUrl(); ?>packagec" class="btn btn-primary full-width <?php echo $classpck;?>">Continue</a>
									<?php } ?>
                                    </div>
                                </div>
                            </div>
                            <?php } $j++;} ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="herocontainer parbase section features-list visible-lg visible-md visible-sm" id="scroll-style">
    <div class="container-fluid">
        <div class="clearfix text_dark">
            <div class="container">
                <div class="containerPar parsys">
                    <div class="col-md-12 p-0">
                        <div class="col-md-8">
                            <div class="text parbase section feature-points">
                                <div class="container">
                                    <div>
                                    <?php $prd = array(); for($i=0;$i<count($response['items']);$i++){    
                                            if($response['items'][$i]['type_id'] == 'simple'){   
                                    ?>
                                            <p><?php echo $response['items'][$i]['name']?></p>   
                                                      
                                    <?php                             
                                            $prd[] = $response['items'][$i]['id'];
                                        }} //print_r($prd);
                                    
                                ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 available-features p-0">

                        <?php $pkg_id = array();
                        $pkgprd = array(array());
                        $arrid=0;
                            for($j=0;$j<count($response['items']);$j++){    
                                if($response['items'][$j]['type_id'] == 'membership'){ 
                                    $pkgprd[$arrid][0] = $response['items'][$j]['id'];
                                    $pkgprd[$arrid][1] = $response['items'][$j]['custom_attributes'][13]['value'];
                                    $arrid++;
                                              
                            }}
                            
                            ?>
                            <div class="col-md-6 feature-point-1">
                               <?php  $pkg_prd = explode(',',$pkgprd[0][1]);
                                       foreach($prd as $value)
                                        {
                                            if (in_array($value, $pkg_prd)){
                                            ?>
                                              <p><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></p>
                                       <?php  
                                            }else
                                            {?>
                                                <p class="inactive"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></p>
                                          <?php   }
                                    
                                    }
                                           
                                        ?>
                            </div>
                            <div class="col-md-6 feature-point-2">
                            <?php  $pkg_prd1 = explode(',',$pkgprd[1][1]);
                                       foreach($prd as $value)
                                        {
                                            if (in_array($value, $pkg_prd1)){
                                            ?>
                                              <p><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></p>
                                       <?php  
                                            }else
                                            {?>
                                                <p class="inactive"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></p>
                                          <?php   }
                                    
                                    }
                                           
                                        ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>