<div class="text parbase section">
        <div class="container">
            <div class="row">
               
                <div class="col-md-12 current-membership my-account-profile account-box no-border">
                    <div class="col-md-12 p-0">
                        <div class="text parbase section">
                            <div class="container">
                                <h3 class="m-0">Current Membership</h3>
                                <span>Let's review what you have...</span>
                                <p style="margin-top: 20px;">You're currently a member of <a href="#">ACS Package C Membership</a>
                                    <br>which is scheduled for Auto Renewal on 27th January 2020</p>
                                <a href="#" class="btn btn-link">Renew Membership</a>
                            </div>
                        </div>
                        <div class="col-md-6 p-0 pt-15">
                            <a href="<?php echo $block->getBaseUrl(); ?>compare-packages">Compare other packages</a>
                        </div>
                        <div class="col-md-6 p-0 cancel-auto">
                            <a href="#">Cancel Auto Renewal</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>