<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Form\Register $block */
?>
<!--====== start  page content ====== -->
    <div id="bd" role="main">
        <!--=== main well start ===-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="articleContent parsys">

                    	<div class="herocontainer parbase section">
                            <div class="container-fluid ">
                                 <div class="clearfix text_dark" id="acs-cover-section">
                                    <div class="container p-35-0">
                                        <div class="col-md-12 p-0">
                                            <div class="text parbase section">
                                                <div class="container">
                                                    <div class="my-account-title">
                                                        <h1>Package A Registration </h1> <h4>Fill in this quick form to register</h4>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<form class="package-form" action="<?php echo $block->getBaseUrl(); ?>package-a-registration-thank-you-page" method="post" id="package-a-form-validate" enctype="multipart/form-data" autocomplete="off" data-mage-init='{"validation":{}}'>
    <?= /* @noEscape */ $block->getChildHtml('form_fields_before_in_form') ?>
    <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
	<input type="hidden" id="constituentid" name="constituentid" value="">
                        <div class="herocontainer parbase section">
                            <div class="container-fluid ">
                                <div class="clearfix text_dark" id="membership-benift-section">
                                    <div class="container">
                                        <div class="containerPar parsys package-page-head">
                                             <div class="text parbase section">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-6 form-group required">
                                                            <label for="firstname" class="control-label">First Name *</label>
                                                            <input type="text" class="form-control required" id="fname" name="fname" placeholder="" required="">
                                                        </div>
                                                        <div class="col-md-6 form-group required">
                                                            <label for="lastname" class="control-label">Last Name *</label>
                                                            <input type="text" class="form-control required" id="lname" name="lname" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group">
                                                            <label for="email" class="control-label">Email Address *</label>
                                                            <input type="email" class="form-control email required" id="email" name="email" placeholder="">
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                            <label for="phone" class="control-label">Phone *</label>
                                                            <input type="number" class="form-control number required" id="phone" name="phone" placeholder="">
                                                        </div>
                                                    </div>
													<div class="row package-a-gap">
                                                        <div class=" col-md-6 form-group address-type">
                                                            <label for="selectinput" class="control-label">Address Type *</label>
                                                            <select class="form-control classic" id="addresstype">
                                                                <option value="home">Home</option>
                                                                <option value="work">Work</option>
                                                            </select>
                                                        </div>
                                                    </div>
													<div class="row" id="work-address" style="display:none">
                                                        <div class="col-md-6 form-group required">
                                                            <label for="address1" class="control-label">Organization *</label>
                                                            <input type="text" class="form-control required" id="organization" name="organization" placeholder="">
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                        	<label for="zipcode" class="control-label">Dept./Mail Stop *</label>
                                                            <input type="text" class="form-control required" id="diptmail" name="diptmail" value="">
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group required">
                                                            <label for="address1" class="control-label">Address 1 *</label>
                                                            <input type="text" class="form-control required" id="street1" name="address1" placeholder="">
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                        	<label for="zipcode" class="control-label">Zip / Postal Code *</label>
                                                            <input type="text" class="form-control required" id="zipcode" name="zipcode" value="">
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group required">
                                                        	 <label for="address2" class="control-label">Address 2 </label>
                                                            <input type="text" class="form-control" id="street2" name="street2" placeholder="">
                                                           
                                                        </div>
                                                        <div class="col-md-6 form-group required">
                                                        	 <label for="city">City *</label>
                                                            <input type="text" class="form-control required" id="city" name="city" placeholder="">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="row mb-30">
                                                        <div class="col-md-6 form-group">
                                                        	<label for="states">State / Province  *</label>
                                                            <select id="state" class="required" name="state">
               <option value="">Choose One...</option>
               <option value="Alabama">Alabama</option>
               <option value="Alaska">Alaska</option>
               <option value="Arizona">Arizona</option>
               <option value="Arkansas">Arkansas</option>
               <option value="California">California</option>
               <option value="Colorado">Colorado</option>
               <option value="Connecticut">Connecticut</option>
               <option value="Delaware">Delaware</option>
               <option value="District of Columbia">District of Columbia</option>
               <option value="Florida">Florida</option>
               <option value="Georgia">Georgia</option>
               <option value="Hawaii">Hawaii</option>
               <option value="Idaho">Idaho</option>
               <option value="Illinois">Illinois</option>
               <option value="Indiana">Indiana</option>
               <option value="Iowa">Iowa</option>
               <option value="Kansas">Kansas</option>
               <option value="Kentucky">Kentucky</option>
               <option value="Louisiana">Louisiana</option>
               <option value="Maine">Maine</option>
               <option value="Maryland">Maryland</option>
               <option value="Massachusetts">Massachusetts</option>
               <option value="Michigan">Michigan</option>
               <option value="Minnesota">Minnesota</option>
               <option value="Mississippi">Mississippi</option>
               <option value="Missouri">Missouri</option>
               <option value="Montana">Montana</option>
               <option value="Nebraska">Nebraska</option>
               <option value="Nevada">Nevada</option>
               <option value="New Hampshire">New Hampshire</option>
               <option value="New Jersey">New Jersey</option>
               <option value="New Mexico">New Mexico</option>
               <option value="New York">New York</option>
               <option value="North Carolina">North Carolina</option>
               <option value="North Dakota">North Dakota</option>
               <option value="Ohio">Ohio</option>
               <option value="Oklahoma">Oklahoma</option>
               <option value="Oregon">Oregon</option>
               <option value="Pennsylvania">Pennsylvania</option>
               <option value="Rhode Island">Rhode Island</option>
               <option value="South Carolina">South Carolina</option>
               <option value="South Dakota">South Dakota</option>
               <option value="Tennessee">Tennessee</option>
               <option value="Texas">Texas</option>
               <option value="Utah">Utah</option>
               <option value="Vermont">Vermont</option>
               <option value="Virginia">Virginia</option>
               <option value="Washington">Washington</option>
               <option value="West Virginia">West Virginia</option>
               <option value="Wisconsin">Wisconsin</option>
               <option value="Wyoming">Wyoming</option>
               <option value="Puerto Rico">Puerto Rico</option>
               <option value="Virgin Islands">Virgin Islands</option>
               <option value="Guam">Guam</option>
               <option value="Alberta">Alberta</option>
               <option value="British Columbia">British Columbia</option>
               <option value="Manitoba">Manitoba</option>
               <option value="New Brunswick">New Brunswick</option>
               <option value="Newfoundland">Newfoundland</option>
               <option value="Northwest Territories">Northwest Territories</option>
               <option value="Nova Scotia">Nova Scotia</option>
               <option value="Nunavut">Nunavut</option>
               <option value="Ontario">Ontario</option>
               <option value="Prince Edward Island">Prince Edward Island</option>
               <option value="Quebec">Quebec</option>
               <option value="Saskatchewan">Saskatchewan</option>
               <option value="Yukon">Yukon</option>
            </select>
                                                            
                                                        </div>
                                                        <div class="col-md-6 form-group">
                                                        	<label for="country" class="control-label">Country / Region *</label>
                                                           <select  id="region" class="required required-entry" name="country">
               <option value="">Choose One...</option>
               <option value="United States">United States</option>
               <option value="Canada">Canada</option>
               <option value="Albania">Albania</option>
               <option value="Algeria">Algeria</option>
               <option value="American Samoa">American Samoa</option>
               <option value="Andorra">Andorra</option>
               <option value="Angola">Angola</option>
               <option value="Anguilla">Anguilla</option>
               <option value="Antarctica">Antarctica</option>
               <option value="Antigua and Barbuda">Antigua and Barbuda</option>
               <option value="Argentina">Argentina</option>
               <option value="Armenia">Armenia</option>
               <option value="Aruba">Aruba</option>
               <option value="Australia">Australia</option>
               <option value="Austria">Austria</option>
               <option value="Azerbaijan">Azerbaijan</option>
               <option value="Bahamas">Bahamas</option>
               <option value="Bahrain">Bahrain</option>
               <option value="Bangladesh">Bangladesh</option>
               <option value="Barbados">Barbados</option>
               <option value="Belarus">Belarus</option>
               <option value="Belgium">Belgium</option>
               <option value="Belize">Belize</option>
               <option value="Benin">Benin</option>
               <option value="Bermuda">Bermuda</option>
               <option value="Bhutan">Bhutan</option>
               <option value="Bolivia">Bolivia</option>
               <option value="Bosnia-Herzegovina">Bosnia-Herzegovina</option>
               <option value="Botswana">Botswana</option>
               <option value="Bouvet Island">Bouvet Island</option>
               <option value="Brazil">Brazil</option>
               <option value="Brunei Darussalam">Brunei Darussalam</option>
               <option value="Bulgaria">Bulgaria</option>
               <option value="Burkina Faso">Burkina Faso</option>
               <option value="Burundi">Burundi</option>
               <option value="Cambodia">Cambodia</option>
               <option value="Cameroon">Cameroon</option>
               <option value="Cape Verde">Cape Verde</option>
               <option value="Cayman Islands">Cayman Islands</option>
               <option value="Chad">Chad</option>
               <option value="Chile">Chile</option>
               <option value="China">China</option>
               <option value="Christmas Island">Christmas Island</option>
               <option value="Colombia">Colombia</option>
               <option value="Comoros">Comoros</option>
               <option value="Congo">Congo</option>
               <option value="Cook Islands">Cook Islands</option>
               <option value="Costa Rica">Costa Rica</option>
               <option value="Cote d'Ivoire">Cote d'Ivoire</option>
               <option value="Croatia">Croatia</option>
               <option value="Cyprus">Cyprus</option>
               <option value="Czech Republic">Czech Republic</option>
               <option value="Denmark">Denmark</option>
               <option value="Djibouti">Djibouti</option>
               <option value="Dominica">Dominica</option>
               <option value="Dominican Republic">Dominican Republic</option>
               <option value="East Timor">East Timor</option>
               <option value="Ecuador">Ecuador</option>
               <option value="Egypt">Egypt</option>
               <option value="El Salvador">El Salvador</option>
               <option value="Equatorial Guinea">Equatorial Guinea</option>
               <option value="Eritrea">Eritrea</option>
               <option value="Estonia">Estonia</option>
               <option value="Ethiopia">Ethiopia</option>
               <option value="Falkland Islands">Falkland Islands</option>
               <option value="Faroe Islands">Faroe Islands</option>
               <option value="Fiji">Fiji</option>
               <option value="Finland">Finland</option>
               <option value="France">France</option>
               <option value="French Guiana">French Guiana</option>
               <option value="French Polynesia">French Polynesia</option>
               <option value="Gabon">Gabon</option>
               <option value="Gambia">Gambia</option>
               <option value="Georgia">Georgia</option>
               <option value="Germany">Germany</option>
               <option value="Ghana">Ghana</option>
               <option value="Gibraltar">Gibraltar</option>
               <option value="Greece">Greece</option>
               <option value="Greenland">Greenland</option>
               <option value="Grenada">Grenada</option>
               <option value="Guadeloupe">Guadeloupe</option>
               <option value="Guam">Guam</option>
               <option value="Guatemala">Guatemala</option>
               <option value="Guinea">Guinea</option>
               <option value="Guinea-Bissau">Guinea-Bissau</option>
               <option value="Guyana">Guyana</option>
               <option value="Haiti">Haiti</option>
               <option value="Honduras">Honduras</option>
               <option value="Hong Kong">Hong Kong</option>
               <option value="Hungary">Hungary</option>
               <option value="Iceland">Iceland</option>
               <option value="India">India</option>
               <option value="Indonesia">Indonesia</option>
               <option value="Ireland">Ireland</option>
               <option value="Israel">Israel</option>
               <option value="Italy">Italy</option>
               <option value="Jamaica">Jamaica</option>
               <option value="Japan">Japan</option>
               <option value="Jordan">Jordan</option>
               <option value="Kazakhstan">Kazakhstan</option>
               <option value="Kenya">Kenya</option>
               <option value="Kiribati">Kiribati</option>
               <option value="Korea (South)">Korea (South)</option>
               <option value="Korea, Republic of">Korea, Republic of</option>
               <option value="Kuwait">Kuwait</option>
               <option value="Kyrgyzstan">Kyrgyzstan</option>
               <option value="Laos">Laos</option>
               <option value="Latvia">Latvia</option>
               <option value="Lebanon">Lebanon</option>
               <option value="Lesotho">Lesotho</option>
               <option value="Liberia">Liberia</option>
               <option value="Liechtenstein">Liechtenstein</option>
               <option value="Lithuania">Lithuania</option>
               <option value="Luxembourg">Luxembourg</option>
               <option value="Macau">Macau</option>
               <option value="Macedonia">Macedonia</option>
               <option value="Madagascar">Madagascar</option>
               <option value="Malawi">Malawi</option>
               <option value="Malaysia">Malaysia</option>
               <option value="Maldives">Maldives</option>
               <option value="Mali">Mali</option>
               <option value="Malta">Malta</option>
               <option value="Marshall Islands">Marshall Islands</option>
               <option value="Martinique">Martinique</option>
               <option value="Mauritania">Mauritania</option>
               <option value="Mauritius">Mauritius</option>
               <option value="Mayotte">Mayotte</option>
               <option value="Mexico">Mexico</option>
               <option value="Micronesia">Micronesia</option>
               <option value="Moldova, Republic of">Moldova, Republic of</option>
               <option value="Monaco">Monaco</option>
               <option value="Mongolia">Mongolia</option>
               <option value="Montenegro">Montenegro</option>
               <option value="Montserrat">Montserrat</option>
               <option value="Morocco">Morocco</option>
               <option value="Mozambique">Mozambique</option>
               <option value="Myanmar">Myanmar</option>
               <option value="Namibia">Namibia</option>
               <option value="Nauru">Nauru</option>
               <option value="Nepal">Nepal</option>
               <option value="Netherlands">Netherlands</option>
               <option value="Netherlands Antilles">Netherlands Antilles</option>
               <option value="New Caledonia">New Caledonia</option>
               <option value="New Zealand">New Zealand</option>
               <option value="Nicaragua">Nicaragua</option>
               <option value="Niger">Niger</option>
               <option value="Nigeria">Nigeria</option>
               <option value="Niue">Niue</option>
               <option value="Norfolk Island">Norfolk Island</option>
               <option value="Norway">Norway</option>
               <option value="Oman">Oman</option>
               <option value="Pakistan">Pakistan</option>
               <option value="Palau">Palau</option>
               <option value="Panama">Panama</option>
               <option value="Papua New Guinea">Papua New Guinea</option>
               <option value="Paraguay">Paraguay</option>
               <option value="Peru">Peru</option>
               <option value="Philippines">Philippines</option>
               <option value="Pitcairn">Pitcairn</option>
               <option value="Poland">Poland</option>
               <option value="Portugal">Portugal</option>
               <option value="Puerto Rico">Puerto Rico</option>
               <option value="Qatar">Qatar</option>
               <option value="Reunion">Reunion</option>
               <option value="Romania">Romania</option>
               <option value="Russian Federation">Russian Federation</option>
               <option value="Rwanda">Rwanda</option>
               <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
               <option value="Saint Lucia">Saint Lucia</option>
               <option value="Samoa (Independent)">Samoa (Independent)</option>
               <option value="San Marino">San Marino</option>
               <option value="Sao Tome and Principe">Sao Tome and Principe</option>
               <option value="Saudi Arabia">Saudi Arabia</option>
               <option value="Senegal">Senegal</option>
               <option value="Serbia">Serbia</option>
               <option value="Seychelles">Seychelles</option>
               <option value="Sierra Leone">Sierra Leone</option>
               <option value="Singapore">Singapore</option>
               <option value="Slovakia">Slovakia</option>
               <option value="Slovenia">Slovenia</option>
               <option value="Solomon Islands">Solomon Islands</option>
               <option value="Somalia">Somalia</option>
               <option value="South Africa">South Africa</option>
               <option value="Spain">Spain</option>
               <option value="Sri Lanka">Sri Lanka</option>
               <option value="St. Helena">St. Helena</option>
               <option value="Suriname">Suriname</option>
               <option value="Swaziland">Swaziland</option>
               <option value="Sweden">Sweden</option>
               <option value="Switzerland">Switzerland</option>
               <option value="Taiwan">Taiwan</option>
               <option value="Tajikistan">Tajikistan</option>
               <option value="Thailand">Thailand</option>
               <option value="Togo">Togo</option>
               <option value="Tokelau">Tokelau</option>
               <option value="Tonga">Tonga</option>
               <option value="Trinidad and Tobago">Trinidad and Tobago</option>
               <option value="Tunisia">Tunisia</option>
               <option value="Turkey">Turkey</option>
               <option value="Turkmenistan">Turkmenistan</option>
               <option value="Tuvalu">Tuvalu</option>
               <option value="Uganda">Uganda</option>
               <option value="Ukraine">Ukraine</option>
               <option value="United Arab Emirates">United Arab Emirates</option>
               <option value="United Kingdom">United Kingdom</option>
               <option value="Uruguay">Uruguay</option>
               <option value="Uzbekistan">Uzbekistan</option>
               <option value="Vanuatu">Vanuatu</option>
               <option value="Vatican City">Vatican City</option>
               <option value="Venezuela">Venezuela</option>
               <option value="Viet Nam">Viet Nam</option>
               <option value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>
               <option value="Western Sahara">Western Sahara</option>
               <option value="Yemen">Yemen</option>
               <option value="Zambia">Zambia</option>
               <option value="Zimbabwe">Zimbabwe</option>
            </select>
                                                            
                                                        </div>
                                                    </div>
													<input type="submit" class="btn btn-primary btn-lg submit-package" value="Submit">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						</form>
                    </div>
                </div>
                <!-- /row-fluid -->
            </div>
        </div>

    </div>

    <!--====== end  page content ====== -->

<script type="text/x-magento-init">
{
    "#package-a-form-validate": {
    "validation": {}
    }
}
</script>

<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){
  $(document).ready(function(){
    $('#addresstype').on('change', function() {
      if ( this.value == 'work')
      {
        $("#work-address").show();
      }
      else
      { 
         
		 //$("#organization").value='';
        $("#work-address").hide();
		$('#organization').val("");
		$('#diptmail').val("");
      }
    });
});
});
  </script>
